:root {
  --primary-color: #24794c;
}

body {
  background: #8aaee8;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-wrapper {
    position: sticky;
    top: 0;
    z-index: 9;
  }

.className {
  border: 1px solid black;
}

#id {
  border: 1px dotted green;
}

div {
  color: var(--primary-color);
}