body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #FFA17F;
  background: -webkit-linear-gradient(to right, #00223E, #FFA17F);
  background: linear-gradient(to right, #00223E, #FFA17F);
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* // Styles for all buttons */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


/* // Main */
.main-content {
  display: flex;
  border: 1px solid rgb(165, 58, 26);
  height: 70vh;
  margin: 2em auto;
}

.vote-section {
  flex: 1;
  margin-right: 20px;
}

.right-sections {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* overflow: hidden; */
}

.vote-suggestions,
.view-suggestions {
  flex: 1;
}

.form-inline {
  border: 1px solid rgb(255, 105, 105);
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.label-block {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(150, 255, 105);
  margin: 0 1em 0 1em;
  font-family: 'Arial', sans-serif;
  /* Change to your futuristic font */
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Add shadow effect */
}

.label-block input[type="text"] {
  border: 1px solid greenyellow;
  background: #007bff;
  text-align: center;

}

.form-block {
  border: 1px solid rgb(255, 105, 200);
  padding: .5em;
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  font-family: 'Arial', sans-serif;
  /* Change to your futuristic font */
  padding: 1em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  /* Add shadow effect with depth */
}

.form-block .suggestion-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 1.5em;
}

.form-block .submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  /* Change to your futuristic font */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  /* Add shadow effect */
}






.vote-section,
.right-sections,
.vote-suggestions,
.view-suggestions {
  border: 1px solid black;
  overflow: auto;


}


.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 9999;
  text-align: center;
}

/* // main vote A */
#vote-section {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 10px solid red;
  height: 100%;
}

.view-main-vote {
  background: #9d3f25;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.voter-entry {
  background-color: #5a2ba7;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;

  padding: 100px;
  margin-bottom: 10px;

}

.voter-entry-title {
  background: #d7dadc;
  text-align: center;
  align-self: center;
}
.voter-entry-name {
  background: #2c5068;
  text-align: center;
  align-self: center;
}

.voter-entry-buttons {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.voter-entry-buttons .vote-button:first-child {
  margin-right: 10px;
}

.voter-entry-buttons .vote-button:nth-child(2) {
  margin-left: 10px;
}






.vote-bars {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
}

.vote-bars .yes-bar {
  height: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: green;
}
