body,
html {
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #FFA17F;
  background: -webkit-linear-gradient(to right, #00223E, #FFA17F);
  background: linear-gradient(to right, #00223E, #FFA17F);
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* // Styles for all buttons */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


/* // Main */
.main-content {
  display: flex;
  /* border: 1px solid rgb(165, 58, 26); */
  height: 70vh;
  margin: 3em auto;
}

.vote-section {
  flex: 1;
  margin-right: 20px;
}

.right-sections {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* overflow: hidden; */
}

.vote-suggestions,
.view-suggestions {
  flex: 1;
}

/* // */
.right-sections {
  margin: auto .5em;

}


/* // Vote Suggestions form */
/* Vote Suggestions form */
.vote-suggestions {
  /* border: 4px solid #7d5a50;  */
  border-radius: 1em;
  padding: 1em 2em 2em 2em;
  margin-bottom: 1em;
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/* Enhancing the depth and contrast of form elements */
.form-inline, .label-block, .form-block {
  border-radius: .5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Consistent shadow for depth */
}

.form-inline {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.label-block {
  display: flex;
  flex-direction: column;
  /* border: 5px solid #ffec00;  */
  margin: 0 1em 0 1em;
  font-family: 'Arial', sans-serif;
  padding: 1em;
  background-color: #f0e4d7; /* Light background for contrast */
}

.label-block input[type="text"] {
  background: #fcf8e3; /* Softer yellow */
  color: #333; /* Enhanced text contrast */
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
  border-radius: .5em;
}

label[for="suggestion"] {
  font-family: Arial, sans-serif; 
  color: #000000; 
  font-size: 1.1em; 
}

label[for="suggestion"] i.fas.fa-comment {
  color: #fbff00; 
  font-size: 1em; 
  margin-right: .5em;
  margin-bottom: .6em;
}

label[for="suggestion"]:hover {
  color: #fbff00; 
}

label[for="suggestion"]:hover i.fas.fa-comment {
  color: #000000; 
}




.form-block {
 
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  font-family: 'Arial', sans-serif;
  padding: 1em;
 

}

.form-block .suggestion-textarea {
  border: 2px solid #ccc; /* Slightly thicker border for definition */
  padding: 5px;
  margin-bottom: 1.5em;
  background-color: #ffffff; /* Pure white for contrast */
}

.form-block .submit-button {
  background-color: #007bff; /* Primary button color */
  border-radius: .3em; /* Rounded corners */
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.form-block .submit-button:hover {
  background-color: #0056b3; /* Darker on hover for interactive feel */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Elevated shadow on hover */
}







/* .vote-section,
.right-sections,
.vote-suggestions,
.view-suggestions {
  border: 1px solid black;
  overflow: auto;


} */



.tooltip {
  position: absolute;
  background-color: #243B55;
  color: #fff;
  padding: 2em;
  border-radius: 5px;
  font-size: 1em;
  z-index: 9999;
  text-align: center;
  line-height: 2;
}

.yellow-span {
  color: #ff0; 
}



/* // main vote A */
#vote-section {
  display: flex;
  margin: auto 0.5em;
  border-radius: 1em;
  border: none;
}

.view-main-vote,
.view-main-vote::before {
  position: relative;
  overflow: hidden;
}

.view-main-vote {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.view-main-vote::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, rgba(0, 34, 62, 0.8), rgba(255, 161, 127, 0.8));
  filter: blur(150px);
  z-index: -1;
}

.voter-entry {
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
  padding: 2em;
  margin: 2em auto;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voter-entry-title,
.voter-entry-name {
  text-align: center;
  margin: 0.5em 0;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.voter-entry-title {
  font-size: 2em;
  letter-spacing: 0.1em;
}

.voter-entry-name {
  font-size: 1.2em;
  opacity: 0.85;
  color: #1777c6;
}

.voter-entry-buttons {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  gap: 20px;
}

.vote-button,
.vote-button:hover {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.vote-button:hover {
  transform: translateY(-2px);
  background: rgba(255, 255, 255, 0.3);
}

.voter-entry-buttons .vote-button {
  min-width: 7em;
  font-size: 2em;
  padding: 1.2em 0;
  border: none;
  box-shadow: none;
}

.voter-entry-buttons .vote-button:first-child {
  color: black;
}

.voter-entry-buttons .vote-button:nth-child(2) {
  color: black;
}

/* ? Vote bars */
.vote-bars {
  display: flex;
  width: 100%;
  background-color: #f1f1f1;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #e1e1e1,
    inset -5px -5px 10px #ffffff;
}

.yes-bar,
.no-bar {
  height: 3em;
  color: white;
  line-height: 3em;
  text-align: center;
  border-radius: 10px;
}

.yes-bar {
  background-color: #ffd700;
  border-radius: 10px 0 0 10px;
  box-shadow: 5px 5px 10px #b89b00,
    -1px -1px 10px #ffff4d;
}

.yes-bar:hover {
  background-color: #ffec00;
  box-shadow: 0px 0px 12px #ffec00;
  transform: scale(1.01);
  transition: all 0.5s ease;
}

.no-bar {
  background-color: #000000;
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 5px 10px #262626,
    -1px -1px 10px #4d4d4d;
}

.no-bar:hover {
  background-color: #333333;
  box-shadow: 0px 0px 12px #333333;
  transform: scale(1.01);
  transition: all 0.5s ease;
}