body,
html {
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #FFA17F;
  background: -webkit-linear-gradient(to right, #00223E, #FFA17F);
  background: linear-gradient(to right, #00223E, #FFA17F);
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* // Styles for all buttons */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

/* // Main */
.main-content {
  display: flex;
  
  height: 80vh;
  margin: 3em auto;
}
@media (max-width: 1024px) {
  .main-content {
    flex-direction: column;
  }
}


.vote-section {
  flex: 1;
}

.right-sections {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vote-suggestions,
.view-suggestions {
  flex: 1;
}


/* // */
.right-sections {
  margin: auto 1.5em;

}


/* // Vote Suggestions form */
.vote-suggestions {
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 1em;
  background: linear-gradient(to left, #243B55, #141E30);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:100%; 
  max-width: 60em; 
  min-width: 15em; 
  margin: 1em auto;
}

@media (max-width: 1540px) {
  .vote-suggestions {
    padding: 1.8em; 
    max-width: 45em; 
    min-width: 10em;
    border: 1px solid rgb(165, 58, 26); 
  }
}

@media (max-width: 1024px) {
  .vote-suggestions {
    padding: 1.5; 
  }
}

@media (max-width: 768px) {
  .vote-suggestions {
    padding: 1em; 
    border-radius: 0.5em; 
    margin-bottom: 0.5em; 
  }
}



.form-inline,
.label-block,
.form-block {
  border-radius: 0.5em;
  background: linear-gradient(to right, #324461, #1e2f3a);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Inline form layout */
.form-inline {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
@media (max-width: 768px) {
  .form-inline {
    flex-direction: column;
    padding: 0.5em;
  }
}

/* Styles for label blocks */
.label-block {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffec00;
  margin: 0 1em;
  font-family: Arial, sans-serif;
  padding: 1em;
  background-color: #f0e4d7;
  width: 100%;

}
@media (max-width:1540px) {
    .label-block{
      width:30%;
      padding: .5em;
      margin: .5em;
      /* min-width: 180px; */
    }

  
}
@media (max-width: 768px) {
  .label-block {
    margin: 0.5em;

  }

}

.label-block input[type="text"] {
  background: #fcf8e3;
  color: #333;
  font-size: 1em;
  padding: 0.3em 0;
  text-align: center;
  border-radius: 0.5em;
  margin-top: 0.5em;
}
@media (max-width: 1540px) {
  .label-block input[type="text"] {
    font-size: .8em;
  }
}

/* Styles for form labels */
label[for="suggestion"] {
  font-family: Arial, sans-serif;
  color: #000;
  font-size: 1.1em;
}
@media (max-width: 1540px) {
  label[for="suggestion"] {
    font-size: 1em;
  }
}

label[for="suggestion"] i.fas.fa-comment {
  color: #fbff00;
  font-size: 1em;
  margin-right: 0.5em;
  margin-bottom: .6em;
}
@media (max-width: 1540px) {
  label[for="suggestion"] i.fas.fa-comment {
    font-size: .9em; 
  }
}

label[for="suggestion"]:hover,
label[for="suggestion"]:hover i.fas.fa-comment {
  color: #fbff00;
}

/* Block form layout */
.form-block {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  font-family: Arial, sans-serif;
  padding: 1em;
  justify-content: center;
}

/* Textarea and submit button styles */
.form-block .suggestion-textarea {
  border: 2px solid #ccc;
  padding: 0.5em;
  margin-bottom: 1.5em;
  background-color: #fff;
}

.form-block .submit-button {
  margin: 0 auto;
  border-radius: 0.3em;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1540px) {
  .form-block .submit-button {
    font-size: .8em;
    padding: 7px 15px;

  }
}
.form-block .submit-button i.fas.fa-check {
  margin-right: 8px; 
}


.form-block .submit-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
}

.form-block .submit-button:active {
  transform: scale(0.95);
  border: 2px solid #00264d;
}

.tooltip {
  position: absolute;
  background-color: #243B55;
  color: #fff;
  padding: 2em;
  border-radius: 5px;
  font-size: 1em;
  z-index: 9999;
  text-align: center;
  line-height: 2;
}

.yellow-span {
  color: #ff0;
}





/*//  View suggestions C */
.view-suggestions {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: start; 
  background: linear-gradient(to right, #324461, #1e2f3a);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
  overflow: auto;
  font-size: 1.1em;
}

.view-suggestions > * {
  flex-shrink: 1; 
  border: 10px silid orangered;
}

@media (max-width: 1300px) {
  .view-suggestions {
    font-size: 0.9em; 
    padding: 10px; 
    max-width: 600px;
  }
}

.view-it {
  max-height: 370px;
}

.vote-container {
  padding: 1em;
  background: rgba(46, 49, 49, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.8em;
}

.vote-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffec00;
  border-top: 1px solid #ffec00;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #d6d2d2;
}

.vote-details,
.vote-suggestion {
  word-wrap: break-word;
  overflow-y: auto;
}

.vote-suggestion {
  flex-shrink: 1;
  text-align: start;
  padding: 0 1.5em;
}

.vote-buttons button {
  margin: 0.4em 0;
  max-width: 100px;
  border-radius: 0.4em;
  background: linear-gradient(to left, #324461, #1e2f3a);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  filter: drop-shadow(1px 1px 1px #ffffff);
  letter-spacing: 1px;
}

@media (max-width: 1300px) {
  .vote-buttons button {
    margin: 0.5em 0;
  }

  .vote-yes, .vote-no {
    width: 100px;
    height: 30px;
  }
}

.vote-yes:hover, .vote-no:hover {
  transform: scale(1.05);
}

.vote-yes:active, .vote-no:active {
  transform: scale(0.97);
}





/* // main vote A */
#vote-section {
  display: flex;
  margin: auto 0.5em;
  border-radius: 1em;
  border: none;
}

.view-main-vote,
.view-main-vote::before {
  position: relative;
  overflow: hidden;
}

.view-main-vote {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.view-main-vote::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, rgba(0, 34, 62, 0.8), rgba(255, 161, 127, 0.8));
  filter: blur(150px);
  z-index: -1;
}

.voter-entry {
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
  padding: 2em;
  margin: 2em auto;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voter-entry-title,
.voter-entry-name {
  text-align: center;
  margin: 0.5em 0;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.voter-entry-title {
  font-size: 2em;
  letter-spacing: 0.1em;
}

.voter-entry-name {
  font-size: 1.2em;
  opacity: 0.85;
  color: #1777c6;
}

.voter-entry-buttons {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  gap: 20px;
  filter: drop-shadow(1px 1px 1px #ffffff);
}

.vote-button,
.vote-button:hover {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.vote-button:hover {
  transform: translateY(-2px);
  background: rgba(255, 255, 255, 0.3);
}

.voter-entry-buttons .vote-button {
  min-width: 7em;
  font-size: 2em;
  padding: 1.2em 0;
  border: none;
  box-shadow: none;
}

.voter-entry-buttons .vote-button:first-child {
  color: black;
}

.voter-entry-buttons .vote-button:nth-child(2) {
  color: black;
}

/* ? Vote bars */
.vote-bars {
  display: flex;
  width: 100%;
  background-color: #f1f1f1;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #e1e1e1,
    inset -5px -5px 10px #ffffff;
}

.yes-bar,
.no-bar {
  height: 3em;
  color: white;
  line-height: 3em;
  text-align: center;
  border-radius: 10px;
}

.yes-bar {
  background-color: #ffd700;
  border-radius: 10px 0 0 10px;
  box-shadow: 5px 5px 10px #b89b00,
    -1px -1px 10px #ffff4d;
}

.yes-bar:hover {
  background-color: #ffec00;
  box-shadow: 0px 0px 12px #ffec00;
  transform: scale(1.01);
  transition: all 0.5s ease;
}

.no-bar {
  background-color: #000000;
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 5px 10px #262626,
    -1px -1px 10px #4d4d4d;
}

.no-bar:hover {
  background-color: #333333;
  box-shadow: 0px 0px 12px #333333;
  transform: scale(1.01);
  transition: all 0.5s ease;
}