                        /* game1.php */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    }
                          
h3 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    }
      

.box {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   width: 100px;
   height: 100px;
   margin: 10px;
   text-align: center;
   font-size: 30px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

#message1, #message {
    background-color: #FAFAFA;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
  }
  
.unclickable {
    pointer-events: none;
    position: relative;
    color: black;
    cursor: not-allowed;
    
}

.unclickable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1; 
}

.unclickable::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}


.box-container {
   display: flex;
   justify-content: space-evenly;
}
