/* game1.php */
.box {
   background-color: lightgray;
   width: 100px;
   height: 100px;
   margin: 10px;
   text-align: center;
   font-size: 30px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
  
.unclickable {
    pointer-events: none;
    position: relative;
    color: black;
    cursor: not-allowed;
    
}

.unclickable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1; 
}

.unclickable::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}


.box-container {
   display: flex;
   justify-content: space-evenly;
}




/* game2.php */