/* game1.php */

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  h3 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    color: #1c1c1c;
  }
  
  .box {
    background-color: #5f9ea0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .box:hover {
    background-color: #8db6c3;
    transition: background-color 0.3s ease-in-out;
  }
  
  #message1{
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px;
    text-align: center;
    color: #1c1c1c;
  }
  


  .message-container {
    position: fixed;
    bottom: 20px;
    right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px; /* adjust to fit your desired width */
  }
  
  .message {
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .message-win {
    background-color: #00bfff;
  }
  
  .message-close {
    background-color: #ff7f50;
  }
  
  



  .unclickable {
    pointer-events: none;
    position: relative;
    color: #696969;
    cursor: not-allowed;
  }
  
  .unclickable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .unclickable::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }
  
  .box-container {
    display: flex;
    justify-content: space-evenly;
  }
  
