* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    background-color: lightblue;
    background: url(http://localhost/aldas/Viktorina.live/images/background/website4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.imported-header {
    width: 100%;
    height: 12.5rem;
}

.imported-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}



/* Pagrindinis question and answer containeris */
.super-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:15%;
  left: 50%; /* Change the left position to 50% */
  transform: translate(-50%, 0);
  margin: auto;
  width: 70%;
  /* or any other desired width */
  height: 200px;
  /* or any other desired height */
  justify-content: center;
  align-items: center;
  border: 5px solid orangered;
    
}

.super-container-qna-section{
  border: 3px solid rgb(110, 28, 90);
}

#question,
#answer {
  font-size: 24px;
  text-align: center;
}
 
#question{
  font-family: 'PT Serif', serif;
  font-weight: 600;
  font-style: italic;
  border:2px solid rgb(81, 37, 151);
}

#answer{
  border:2px solid rgb(66, 151, 37);
  top:50px;
}

.invisible {
  visibility: hidden;
}











/* .special-atsakymas {
  color: red;
  font-weight: bold;
} */


#answer-form {
    display: flex;
    flex-direction: column;
    /* padding-top: 5%; */
  }
 
  .submit-btn {
    color: rgb(43, 68, 64);
    padding: .5em;
    margin: .5rem 0 0 0;
    font-weight: 900;
    transition: background-color 0.2s, transform 0.2s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit-btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
  }
  
  .submit-btn:active {
    background-color: #333;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
.submit-btn {
   animation: pulse 2s infinite;
}
  


   
.litas-container {
    position: absolute;
    bottom: 22%;
    left: 10%; /* Change the left position to 50% */
    transform: translate(-50%, 0); /* Use translate to adjust the element's position */
    /* display: block; */
    /* justify-content: center; */
    padding: 5px;
    margin: 10px auto; /* Use margin: auto to center the element */
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */

  }

  .litas-container-img{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
    
  }



  @media (max-width: 550px) {
    section {
      display: none;
    }
  }
  



  .points-container .super {
    float: left;
  }
  
  
  
  .hidden-bonus {
    display: none;
  }




 @media(max-width: 550px) {
    /* img {
        width: 100px;
        opacity: 0.8; 
        box-shadow: 0 0 10px 5px rgba(38, 66, 64, 0.5); 
      } */
 } 
  
 .section-answer{
  border:1px solid red;
 }




/* Plevesuojantys litai siektiek */
#litai-img{
  width: 200px;
  opacity: 0.8; /* Set the transparency to 70% */
  box-shadow: 0 0 10px 5px rgba(38, 66, 64, 0.5);
  animation: flag-wave 7s infinite;
}

@keyframes flag-wave {
  0% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }
  5% {
    transform: rotate(0deg) translateX(-5px);
    background-position: center;
    visibility: visible;
    opacity: 0.8;
  }
  10% {
    transform: rotate(-5deg) translateX(0);
    background-position: calc(100% - 5px) 5px;
    visibility: visible;
    opacity: 0.6;
  }
  15% {
    transform: rotate(0deg) translateX(5px);
    background-position: center;
    visibility: visible;
    opacity: 0.8;
  }
  20% {
    transform: rotate(5deg) translateX(0);
    background-position: 5px calc(100% - 5px);
    visibility: visible;
    opacity: 1;
  }
  25% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }
  75% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }
  80% {
    transform: rotate(-5deg) translateX(0);
    background-position: calc(100% - 5px) 5px;
    visibility: visible;
    opacity: 0.8;
  }
  85% {
    transform: rotate(0deg) translateX(-5px);
    background-position: center;
    visibility: visible;
    opacity: 0.6;
  }
  90% {
    transform: rotate(5deg) translateX(0);
    background-position: 5px calc(100% - 5px);
    visibility: visible;
    opacity: 0.8;
  }
  95% {
    transform: rotate(0deg) translateX(5px);
    background-position: center;
    visibility: visible;
    opacity: 0.6;
  }
  100% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }
}



 /* .old-question-section */
.old-question-section {
  border: 3px solid rgb(97, 17, 17);
  position: fixed;
  bottom: 10vh;
  right: 2vh;
  height: 40vh;
  width: 20vh;
  margin: 0.5rem;
  padding: 0.5rem;
}

.old-question-section #old-question {
  border: 1.5px solid rgba(30, 74, 30, 0.864);
}
.question {
  font-weight: bold;
}

.serverQuestion {
  color: blue;
  font-weight: bold;
}

.serverAnswer {
  color: rgb(14, 15, 14);
  font-weight: bold;
}



  
 
 
  
  
  
  
  

  
  
  
  