:root {
  --white: #ffffff;
  --light: whitesmoke;
  --light-grey: #e8e8e8;
  --main-btn-color: #b1c9d6a8;
  --medium-dark: #777;
  --dark: #242526;
  --border-rad-lg: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: lightblue;
  background: url(http://localhost/Viktorina.live/images/background/website4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*  */
/* Today Top section */
.today-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 4em;
  position: absolute;
  right: 2em;
  height: 3em;
  /* Set initial height */
  border: 5px solid rgb(36, 39, 39);
  width: 260px;
  min-height: 290px;
}

.today-top-btn {
  background-color: #a65b46;
  border: none;
  color: white;
  padding: 11px 10px;
  text-align: center;
  width: 150px;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.today-top-list-li {
  border: 0.5px solid rgb(11, 5, 37);
  margin: 3px;
  float: none;
  width: 100%;
}

/*  */
/* Pagrindinis question and answer containeris */
.super-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  padding: 20px;
  width: 50%;
  height: 350px;
  justify-content: center;
  align-items: center;
  border: 1px dotted orangered;
}

.points-container {
  border: 1px solid brown;
  margin-bottom: 0;
  padding: 10px;
  margin-top: 50px;
}

.hidden-bonus {
  display: none;
}

.super-container-qna-section {
  border: 5px solid rgb(110, 28, 90);
  margin-top: 5px;
  padding: 15px;
  width: 100%;
}

#question,
#answer {
  font-size: 24px;
  text-align: center;
}

#question {
  font-family: "PT Serif", serif;
  font-weight: 600;
  font-style: italic;
  border: 2px solid rgb(81, 37, 151);
}

#answer {
  margin-top: 0.7em;
  letter-spacing: 0.4em;
  word-spacing: 0.1em;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: rgb(34, 34, 34);
  /* Set the color of the asterisks */
  padding: 10px;
  border: 2px solid rgb(151, 117, 37);
}

/* answer-section */
.answer-section {
  min-height: 7vh;
  width: auto/2;
  border: 3px solid rgb(12, 126, 38);
  /* position: fixed; */
  /* bottom: -1vh; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

#answer-msg {
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  font-size: 18px;
  text-align: center;
}

.corect-answer-answered {
  color: rgba(47, 50, 216, 0.822);
  font-weight: bold;
  text-transform: uppercase;
}

.corect-answer-answered-user {
  text-transform: capitalize;
  font-family: "Neue Metana", sans-serif;
  font-weight: bold;
  color: #a65b46;
}

/* answer-input and btn */
.form-container {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.answer-input {
  flex: 1;
  height: 4em;
  padding: 5px;
  border: none;
  outline: none;
  margin-right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-input input {
  flex: 1;
  font-size: 26px;
  font-family: "Arial", sans-serif;
  border: none;
  height: 47px;
  text-align: center;
  box-shadow: none;
}

.submit-icon {
  width: 2em;
  padding: 10px;
  vertical-align: middle;
  border: none;
  background: var(--main-btn-color);
  cursor: pointer;
  border-top-right-radius: var(--border-rad-lg);
  border-bottom-right-radius: var(--border-rad-lg);
}

.submit-icon:hover {
  background-color: var(--dark);
}

.litas-container {
  position: absolute;
  /* bottom: 22%; */
  left: 10%;
  /* Change the left position to 50% */
  transform: translate(-50%, 0);
  /* Use translate to adjust the element's position */
  /* display: block;
  justify-content: center; */
  padding: 5px;
  margin: 10px auto;
  /* Use margin: auto to center the element */
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.litas-container-img {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-top: 5px;
}

@media (max-width: 550px) {
  section {
    display: none;
  }
}

@media (max-width: 550px) {
  /* img {
        width: 100px;
        opacity: 0.8; 
        box-shadow: 0 0 10px 5px rgba(38, 66, 64, 0.5); 
      } */
}

.section-answer {
  border: 1px solid red;
}

/* Plevesuojantys litai siektiek */
#litai-img {
  width: 200px;
  opacity: 0.8;
  /* Set the transparency to 70% */
  box-shadow: 0 0 10px 5px rgba(38, 66, 64, 0.5);
  animation: flag-wave 7s infinite;
}

@keyframes flag-wave {
  0% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  5% {
    transform: rotate(0deg) translateX(-5px);
    background-position: center;
    visibility: visible;
    opacity: 0.8;
  }

  10% {
    transform: rotate(-5deg) translateX(0);
    background-position: calc(100% - 5px) 5px;
    visibility: visible;
    opacity: 0.6;
  }

  15% {
    transform: rotate(0deg) translateX(5px);
    background-position: center;
    visibility: visible;
    opacity: 0.8;
  }

  20% {
    transform: rotate(5deg) translateX(0);
    background-position: 5px calc(100% - 5px);
    visibility: visible;
    opacity: 1;
  }

  25% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  75% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  80% {
    transform: rotate(-5deg) translateX(0);
    background-position: calc(100% - 5px) 5px;
    visibility: visible;
    opacity: 0.8;
  }

  85% {
    transform: rotate(0deg) translateX(-5px);
    background-position: center;
    visibility: visible;
    opacity: 0.6;
  }

  90% {
    transform: rotate(5deg) translateX(0);
    background-position: 5px calc(100% - 5px);
    visibility: visible;
    opacity: 0.8;
  }

  95% {
    transform: rotate(0deg) translateX(5px);
    background-position: center;
    visibility: visible;
    opacity: 0.6;
  }

  100% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }
}

/* .old-question-section */
.old-question-section {
  border: 3px solid rgb(97, 17, 17);
  position: fixed;
  bottom: 10vh;
  right: 2vh;
  height: 32vh;
  width: 70vh;
  margin: 0.5rem;
  padding: 0.5rem;
  /* overflow: auto;  */
  overflow-x: auto;
}

.old-question-section #old-question {
  border: 1.5px solid rgba(30, 74, 30, 0.864);
}

/* Example CSS styles */
.question-list {
  list-style-type: none;
  padding: 0;
}

.question-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.question-id {
  font-weight: bold;
}

.question-text {
  font-style: italic;
}

.answer-text {
  color: green;
}
