:root {
  --white: #ffffff;
  --light: whitesmoke;
  --light-grey: #e8e8e8;
  --main-btn-color: #b1c9d6a8;
  --medium-dark: #777;
  --dark: #242526;
  --border-rad-lg: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-wrapper {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #1F1C2C;
  background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);
  background: linear-gradient(to right, #928DAB, #1F1C2C);
  /* background: url(images/DALLE/viktorina.live_world.events1.png); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* // Containers ABC */
.containers-abc{
  display: flex;
  flex-direction: row;
  /* border: 5px solid green; */
  justify-content: space-between;
  align-items: center;
  
}

/* // Container A*/
.container-a {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(128, 0, 109);
  width: 30%;
  height: 88vh;
  gap: .5em; 
  justify-content: center;
  align-items: center;
  
}

/* ??Mini user-info/welcome container A1 */
.user-info-container{
  height: 16vh;
  border: 3px solid rgb(140, 107, 0);
  width: 100%;
}

.user-info {
  width: 50%;
  border: 1px solid #611313;
  background-color: #f9f9f9;
  margin: 1em;
  justify-content: center;
  padding: 1em 4em;
}

.welcome-message {
  color: green;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}

#temp-greeting {
  color: red; 
  font-style: italic;
}

#temp-exclamation {
  color: blue;
  font-size: 20px;
}

.points-info {
  color: blue;
  font-size: 14px;
}

.position-highlight {
  color: #ff4500; 
  font-weight: bold;
}

.points-highlight {
  color: #32cd32; 
  font-style: italic;
}

.level-highlight {
  color: #1e90ff; 
  text-decoration: underline;
}

.greeting-message {
  color: darkred;
  font-size: 14px;
}

.greeting-message img {
  width: 50px; 
  height: auto;
}



/*?? Money section  A2*/
.show-money-container{
  height: 22vh;
  /* border: 1px solid rgb(0, 21, 140); */
  width: 100%;
}

.litas-container {
  /* border: 0.5px solid black;
  margin: 0.1em; */
  height: 12.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.litas-container-img {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  /* border: 5px solid rgb(29, 140, 19); */
  justify-content: center;
  align-items: center; 
  overflow: hidden; 
}

#litai-img, #litai-img-bonus {
  width: 100%; 
  max-width: 150px; 
  opacity: 0.8;
  animation: flag-wave 7s infinite;
}

#litai-img-bonus{
  margin-top: 5px;
}

img {
  width: 100%; 
  height: auto; 
}



@keyframes flag-wave {
  0% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  5% {
    transform: rotate(0deg) translateX(-5px);
    background-position: center;
    visibility: visible;
    opacity: 0.8;
  }

  10% {
    transform: rotate(-5deg) translateX(0);
    background-position: calc(100% - 5px) 5px;
    visibility: visible;
    opacity: 0.6;
  }

  15% {
    transform: rotate(0deg) translateX(5px);
    background-position: center;
    visibility: visible;
    opacity: 0.8;
  }

  20% {
    transform: rotate(5deg) translateX(0);
    background-position: 5px calc(100% - 5px);
    visibility: visible;
    opacity: 1;
  }

  25% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  75% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  80% {
    transform: rotate(-5deg) translateX(0);
    background-position: calc(100% - 5px) 5px;
    visibility: visible;
    opacity: 0.8;
  }

  85% {
    transform: rotate(0deg) translateX(-5px);
    background-position: center;
    visibility: visible;
    opacity: 0.6;
  }

  90% {
    transform: rotate(5deg) translateX(0);
    background-position: 5px calc(100% - 5px);
    visibility: visible;
    opacity: 0.8;
  }

  95% {
    transform: rotate(0deg) translateX(5px);
    background-position: center;
    visibility: visible;
    opacity: 0.6;
  }

  100% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }
}


/*?? Chat section  A3*/
#chat-container-section {
  height: 50vh;
  width: 100%;
  border: 3px solid rgb(140, 107, 0);
  background: rgba(7, 7, 7, 0.2);
  /* position: fixed; */
  bottom: 6.85vh;
  /* background-color: white; */
  word-wrap: break-word;
  /* overflow-y: auto; */
}

#chat-container-messages {
  background-color: #c6e0e1;
  height: 42vh;
  padding: 10px;
  overflow-y: auto;
}

/* Style the scrollbar track (the background) */
#chat-container-messages::-webkit-scrollbar {
  width: 14px;
  /* Width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
#chat-container-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the thumb */
  border-radius: 2px;
  /* Rounded corners of the thumb */
}

/* Style the scrollbar track when it's hovered over */
#chat-container-messages::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the thumb on hover */
}

#chat-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

#chat-messages>li {
  padding: 0.5rem 1rem;
}

#chat-messages>li:nth-child(odd) {
  background: #d8d7d7;
}

#chat-form {
  background: rgba(7, 7, 7, 0.15);
  width: 100%;
  /* bottom: 0; */
  /* position: relative; */
  top: 1px;
  display: flex;
  height: 3.2rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border: 3px solid rgba(7, 7, 7, 0.15);
}

#chat-input-msg {
  border: none;
  padding: 0 1rem;
  /* flex-grow: 1; */
  border-radius: 2rem;
  margin: 0.25rem;
}

#chat-input-msg:focus {
  outline: none;
}

#chat-button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  transition: transform 0.2s;
}

#chat-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#chat-button:active {
  transform: scale(0.9);
}

#chat-button:focus {
  outline: none;
}











/* // Container B*/
.container-b {
  display: flex;
  border: 5px solid rgb(21, 0, 128);
  width: 35%; 
  height: 88vh;
  justify-content: center;
  align-items: center;
}
/* Pagrindinis question and answer containeris */
.super-container {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 50vw;
  height:52vh;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


.points-container {
  /* border: 1px solid brown; */
  margin-bottom: 0;
  padding: 10px;
  margin-top: 50px;
  color: #d8d7d7;
}

.hidden-bonus {
  display: none;
}

.super-container-qna-section {
  /* border: 5px solid rgb(110, 28, 90); */
  margin-top: 5px;
  padding: 15px;
  width: 100%;
}

#question,
#answer {
  font-size: 24px;
  text-align: center;
}

#question {
  font-family: "PT Serif", serif;
  font-weight: 600;
  font-style: italic;
  color: #d2a981;
  /* border: 2px solid rgb(81, 37, 151); */
}

#answer {
  margin-top: 0.7em;
  letter-spacing: 0.4em;
  word-spacing: 0.1em;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: #d2a981;
  /* Set the color of the asterisks */
  padding: 10px;
  background: rgb(0, 0, 0, 0.2);
  ;
  /* border: 2px solid rgb(151, 117, 37); */
}

/* answer-section */
.answer-section {
  min-height: 7vh;
  width: auto/2;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

#answer-msg {
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #b1c9d6a8;
}

.corect-answer-answered {
  color: rgba(47, 50, 216, 0.822);
  font-weight: bold;
  text-transform: uppercase;
}

.corect-answer-answered-user {
  text-transform: capitalize;
  font-family: "Neue Metana", sans-serif;
  font-weight: bold;
  color: #a65b46;
}

/* Existing styles */
.form-container {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.answer-input {
  /* flex: 1; */
  height: 2em;
  padding: 5px;
  border: none;
  outline: none;
  margin-right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-input input {
  /* flex: 1; */
  font-size: 26px;
  font-family: "Arial", sans-serif;
  border: none;
  height: 47px;
  text-align: center;
  box-shadow: none;
}

/* Added to remove outline on focus */
.answer-input input:focus {
  outline: none;
}

.submit-icon {
  width: 2.3em;
  height: 2.3em;
  padding: 14px;
  vertical-align: middle;
  border: 2px solid black;
  background: var(--main-btn-color);
  cursor: pointer;
  border-top-right-radius: var(--border-rad-lg);
  border-bottom-right-radius: var(--border-rad-lg);
}

.submit-icon:hover {
  background-color: var(--dark);
}















/* // Container C*/
.container-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid rgb(100, 128, 0);
  width: 32.5%; /* 20% of the page */
  height: 88vh;
}

/* .user-info-container, .show-money-container, #chat-container-section{
  border: 3px solid black;

} */



/*?? Chat section  C1*/
.today-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today-top-btn {
  background-color: #a65b46;
  color: var(--white);
  padding: 11px 10px;
  text-align: center;
  width: 150px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: .6em;
  border: none;
  text-decoration: none;
}

.php-today-top-list {
  font-family: Arial, sans-serif;
  color: #000000;
}

.php-today-top-list-li {
  border: 0.5px solid rgb(11, 5, 37);
  margin: 3px;
  width: 100%;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

/* Reikia sutvarkyti siuos stylus Pagrazinti  */
.best-player-php {
  font-weight: bold;
  color: #a65b46;
  font-size: 1.6rem;
  /* Additional styling */
}

.player-name-hp {
  font-weight: bold;
  color: #ffffff;
  /* Additional styles for the name */
}

.player-points-hp {
  color: #f8efef;
  /* Additional styles for the points */
}



/*  */


/*?? Chat section  C2*/
.old-question-section {
  background-color: rgba(255, 255, 255, 0.4);
  height: 44vh;
  padding: 0.5rem;
  /* position: fixed; */
  /* bottom: 6.2vh; */
  /* right: 2vh; */
  /* width: 65vh; */
  /* margin: 0.5rem; */
}

.old-question-section #old-question {
  /* border: 1.5px solid rgba(30, 74, 30, 0.864); */
  height: 100%;
  overflow-y: auto;
}

.question-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.question-item {
  /* border: 2px solid #ccc; */
  padding: 7px;
  /* margin: 10px 5px; */
  display: flex;
  /* Use flexbox for layout control */
}

.question-id {
  font-weight: bold;
  color: #a65b46;
  min-width: 20px;
  /* Minimum width for question ID */
  text-align: right;
  font-size: 1.1em;
  margin-top: 0.3%;
}

.question-text {
  border-bottom: 1px solid #777;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1;
  border-bottom: 1px solid #777;
  /* flex-grow: 1; */
  padding-left: 10px;
  padding-bottom: 8px;
}

.question-text>.question-label {
  color: #4648a6;
  font-weight: 700;
}

.question-text>.question-content {
  font-style: italic;
  font-size: 1.05em;
  font-weight: 700;
  line-height: 1.1;
  /* flex-grow: 1; */
  padding-bottom: 6px;
}

/* .hr-line{
  color: #a6467e;
  padding: 50px;
} */

.timestamp {
  font-weight: 600;
  margin-left: 15px;
  margin-right: -10px;
}

.answer-text {
  color: rgb(41, 59, 90);
  text-align: center;
  min-width: 100px;
  margin: auto;
  font-weight: 600;
}

/* Adjust the max-width as needed */
/* @media (max-width: 600px) {
  .old-question-section {
    width: 95%;
    
    max-width: 400px;

    right: 2%;

  }
} */






/*// A HREF link that confims email .Seen then user didint confirmed email*/
.email-confirmation-message {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 1.25rem; 
  border-radius: 0.625rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
  margin: 1.25rem; 
  text-align: center; 
}

.email-confirmation-message::before {
  content: '';
  position: absolute;
  top: -50%; right: -50%;
  bottom: -50%; left: -50%;
  background: linear-gradient(45deg, #06f, #12c, #f80, #f0f);
  z-index: -1;
  border-radius: 0.3125rem; 
  transition: all 0.75s;
}

.email-confirmation-message:hover::before {
  top: 0; right: 0;
  bottom: 0; left: 0;
}

.email-confirmation-span {
  font-weight: bold;
  color: #00ffcc;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.7);
}

.email-confirmation-link {
  color: #00ffcc;
  text-decoration: underline;
}

.email-confirmation-link:hover {
  color: #ffcc00;
  text-decoration: none;
}

.email-confirmation-link:active {
  color: #074b3d;
}




/* Nezinau kas cia */
/* .section-answer {
  border: 100px solid red;
} */