:root {
  --white: #ffffff;
  --light: whitesmoke;
  --light-grey: #e8e8e8;
  --main-btn-color: #b1c9d6a8;
  --medium-dark: #777;
  --dark: #242526;
  --border-rad-lg: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: lightblue;
  background: url(images/DALLE/viktorina.live_world.events1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header-wrapper, .footer-wrapper {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}

.footer-wrapper {
  bottom: 0;
}

/*  */
/* Today Top section */
.today-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4em;
  right: 2em;
  height: 3em;
  background: rgba(4, 4, 4, 0.6);
  width: 260px;
  min-height: 290px;
}

.today-top-btn {
  background-color: #a65b46;
  color: var(--white);
  padding: 11px 10px;
  text-align: center;
  width: 150px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: .6em;
  border: none;
  text-decoration: none;
}

.php-today-top-list {
  font-family: Arial, sans-serif;
  color: #333;
}

.php-today-top-list-li { 
  border: 0.5px solid rgb(11, 5, 37);
  margin: 3px;
  width: 100%;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

/* Reikia sutvarkyti siuos stylus Pagrazinti  */
.best-player-php {
  font-weight: bold;
  color: #a65b46;
  font-size: 1.6rem;
  /* Additional styling */
}

.player-name-hp {
  font-weight: bold;
  color: #ffffff;
  /* Additional styles for the name */
}

.player-points-hp {
  color: #f8efef;
  /* Additional styles for the points */
}



/*  */
/* Pagrindinis question and answer containeris */
.super-container {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translateX(-55%);
  padding: 40px;
  max-width: 600px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


.points-container {
  /* border: 1px solid brown; */
  margin-bottom: 0;
  padding: 10px;
  margin-top: 50px;
  color: #d8d7d7;
}

.hidden-bonus {
  display: none;
}

.super-container-qna-section {
  /* border: 5px solid rgb(110, 28, 90); */
  margin-top: 5px;
  padding: 15px;
  width: 100%;
}

#question,
#answer {
  font-size: 24px;
  text-align: center;
}

#question {
  font-family: "PT Serif", serif;
  font-weight: 600;
  font-style: italic;
  color: #d2a981;
  /* border: 2px solid rgb(81, 37, 151); */
}

#answer {
  margin-top: 0.7em;
  letter-spacing: 0.4em;
  word-spacing: 0.1em;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: #d2a981;
  /* Set the color of the asterisks */
  padding: 10px;
  background: rgb(0, 0, 0, 0.2);;
  /* border: 2px solid rgb(151, 117, 37); */
}

/* answer-section */
.answer-section {
  min-height: 7vh;
  width: auto/2;
 
  /* border: 3px solid rgb(12, 126, 38); */
  /* position: fixed; */
  /* bottom: -1vh; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

#answer-msg {
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #b1c9d6a8;
}

.corect-answer-answered {
  color: rgba(47, 50, 216, 0.822);
  font-weight: bold;
  text-transform: uppercase;
}

.corect-answer-answered-user {
  text-transform: capitalize;
  font-family: "Neue Metana", sans-serif;
  font-weight: bold;
  color: #a65b46;
}

/* Existing styles */
.form-container {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.answer-input {
  flex: 1;
  height: 2em;
  padding: 5px;
  border: none;
  outline: none;
  margin-right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-input input {
  flex: 1;
  font-size: 26px;
  font-family: "Arial", sans-serif;
  border: none;
  height: 47px;
  text-align: center;
  box-shadow: none;
}

/* Added to remove outline on focus */
.answer-input input:focus {
  outline: none;
}

.submit-icon {
  width: 2.3em;
  height: 2.3em;
  padding: 14px;
  vertical-align: middle;
  border: 2px solid black;
  background: var(--main-btn-color);
  cursor: pointer;
  border-top-right-radius: var(--border-rad-lg);
  border-bottom-right-radius: var(--border-rad-lg);
}

.submit-icon:hover {
  background-color: var(--dark);
}

.litas-container {
  position: absolute;
  /* bottom: 22%; */
  left: 10%;
  /* Change the left position to 50% */
  transform: translate(-50%, 0);
  /* Use translate to adjust the element's position */
  /* display: block;
  justify-content: center; */
  padding: 5px;
  margin: 10px auto;
  /* Use margin: auto to center the element */
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
}

.litas-container-img {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-top: 5px;
}

@media (max-width: 550px) {
  section {
    display: none;
  }
}

@media (max-width: 550px) {
  /* img {
        width: 100px;
        opacity: 0.8; 
        box-shadow: 0 0 10px 5px rgba(38, 66, 64, 0.5); 
      } */
}

.section-answer {
  border: 1px solid red;
}

/* Plevesuojantys litai siektiek */
#litai-img {
  width: 200px;
  opacity: 0.8;
  /* Set the transparency to 70% */
  box-shadow: 0 0 10px 5px rgba(38, 66, 64, 0.5);
  animation: flag-wave 7s infinite;
}

@keyframes flag-wave {
  0% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  5% {
    transform: rotate(0deg) translateX(-5px);
    background-position: center;
    visibility: visible;
    opacity: 0.8;
  }

  10% {
    transform: rotate(-5deg) translateX(0);
    background-position: calc(100% - 5px) 5px;
    visibility: visible;
    opacity: 0.6;
  }

  15% {
    transform: rotate(0deg) translateX(5px);
    background-position: center;
    visibility: visible;
    opacity: 0.8;
  }

  20% {
    transform: rotate(5deg) translateX(0);
    background-position: 5px calc(100% - 5px);
    visibility: visible;
    opacity: 1;
  }

  25% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  75% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }

  80% {
    transform: rotate(-5deg) translateX(0);
    background-position: calc(100% - 5px) 5px;
    visibility: visible;
    opacity: 0.8;
  }

  85% {
    transform: rotate(0deg) translateX(-5px);
    background-position: center;
    visibility: visible;
    opacity: 0.6;
  }

  90% {
    transform: rotate(5deg) translateX(0);
    background-position: 5px calc(100% - 5px);
    visibility: visible;
    opacity: 0.8;
  }

  95% {
    transform: rotate(0deg) translateX(5px);
    background-position: center;
    visibility: visible;
    opacity: 0.6;
  }

  100% {
    transform: rotate(0deg) translateX(0);
    background-position: center;
    visibility: visible;
    opacity: 1;
  }
}

/* .old-question-section */
.old-question-section {
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  bottom: 6.2vh;
  right: 2vh;
  height: 44vh;
  width: 65vh;
  margin: 0.5rem;
  padding: 0.5rem;
}

.old-question-section #old-question {
  /* border: 1.5px solid rgba(30, 74, 30, 0.864); */
  height: 100%;
  overflow-y: auto;
}

.question-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.question-item {
  /* border: 2px solid #ccc; */
  padding: 7px;
  /* margin: 10px 5px; */
  display: flex; /* Use flexbox for layout control */
}

.question-id {
  font-weight: bold;
  color: #a65b46;
  min-width: 20px; /* Minimum width for question ID */
  text-align: right;
  font-size: 1.1em;
  margin-top: 0.3%;
}

.question-text {
  border-bottom: 1px solid #777;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1;
  border-bottom: 1px solid #777;
  flex-grow: 1;
  padding-left: 10px;
  padding-bottom: 8px;
}

.question-text > .question-label {
  color: #4648a6;
  font-weight: 700;
}

.question-text > .question-content {
  font-style: italic;
  font-size: 1.05em;
  font-weight: 700;
  line-height: 1.1;
  flex-grow: 1;
  padding-bottom: 6px;
}

/* .hr-line{
  color: #a6467e;
  padding: 50px;
} */

.timestamp {
  font-weight: 600;
  margin-left: 15px;
  margin-right: -10px;
}

.answer-text {
  color: rgb(41, 59, 90);
  text-align: center;
  min-width: 100px;
  margin: auto;
  font-weight: 600;
}

/* Adjust the max-width as needed */
@media (max-width: 600px) {
  .old-question-section {
    width: 95%; /* Make the container narrower on smaller screens */
    max-width: 400px; /* Limit the max width of the container */
    right: 2%; /* Adjust position accordingly */
  }
}

/* Chat section */
#chat-container-section {
  /* border: 2px solid rgba(7, 7, 7, 0.15); */
  background: rgba(7, 7, 7, 0.2);
  height: 50vh;
  width: 25vw;
  position: fixed;
  bottom: 6.85vh;
  /* background-color: white; */
  word-wrap: break-word;
  /* overflow-y: auto; */
}

#chat-container-messages {
  background-color: #c6e0e1;
  height: 42vh;
  padding: 10px;
  overflow-y: auto;
}

/* Style the scrollbar track (the background) */
#chat-container-messages::-webkit-scrollbar {
  width: 14px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
#chat-container-messages::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 2px; /* Rounded corners of the thumb */
}

/* Style the scrollbar track when it's hovered over */
#chat-container-messages::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

#chat-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

#chat-messages > li {
  padding: 0.5rem 1rem;
}

#chat-messages > li:nth-child(odd) {
  background: #d8d7d7;
}

#chat-form {
  background: rgba(7, 7, 7, 0.15);
  width: 100%;
  /* bottom: 0; */
  position: relative;
  top: 1px;
  display: flex;
  height: 3.2rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border: 3px solid rgba(7, 7, 7, 0.15);
}

#chat-input-msg {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#chat-input-msg:focus {
  outline: none;
}

#chat-button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  transition: transform 0.2s;
}

#chat-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#chat-button:active {
  transform: scale(0.9);
}

#chat-button:focus {
  outline: none;
}




/* Button that confims email */
.confirmation-message {
  text-align: center;
}

.confirmation-message p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.confirmation-message button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.email-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.close-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

