* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Scroll to the first li when the page is reloaded */


body {
    font-size: 1em;
    background-color: lightblue;
    background: url(http://localhost/aldas/Viktorina.live/images/background/website4.png);
    /* background: url(/images/background/floWer3.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

.imported-header {
    width: 100%;
    height: 12.5rem;
}

.imported-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.super-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:15%;
    left: 50%; /* Change the left position to 50% */
    transform: translate(-50%, 0);
    margin: auto;
    width: 90%;
    /* or any other desired width */
    height: 200px;
    /* or any other desired height */
    justify-content: center;
    align-items: center;
    border: 1px solid rebeccapurple;
}

.super{
  font-size: 1.3em;
}

#dot-answer{
  font-size: 22px;
  color: rgb(150, 5, 5);
  border: 1px solid red;
}

#dot-answer-lenght{
  border: 1px solid green;
  font-size: 1em;
}


#question{
    font-family: 'PT Serif', serif;
    font-weight: 600;
    font-style: italic;
}

#answer{
  border:1px solid orange;
  top:50px;
}

/* .special-atsakymas {
  color: red;
  font-weight: bold;
} */


#answer-form {
    display: flex;
    flex-direction: column;
    /* padding-top: 5%; */
  }
 
  .submit-btn {
    color: rgb(43, 68, 64);
    padding: .5em;
    margin: .5rem 0 0 0;
    font-weight: 900;
    transition: background-color 0.2s, transform 0.2s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit-btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
  }
  
  .submit-btn:active {
    background-color: #333;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
.submit-btn {
   animation: pulse 2s infinite;
}
  


   
.litas-container {
    position: absolute;
    bottom: 22%;
    left: 10%; /* Change the left position to 50% */
    transform: translate(-50%, 0); /* Use translate to adjust the element's position */
    /* display: block; */
    /* justify-content: center; */
    padding: 5px;
    margin: 10px auto; /* Use margin: auto to center the element */
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */

  }

  .litas-container-img{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
    
  }



  @media (max-width: 550px) {
    section {
      display: none;
    }
  }
  



  .points-container .super {
    float: left;
  }
  
  
  
  .hidden-bonus {
    display: none;
  }


img {
    width: 200px;
    opacity: 0.8; /* Set the transparency to 70% */
    box-shadow: 0 0 10px 5px rgba(38, 66, 64, 0.5); /* Add a green shadow with 50% transparency */
  }

 @media(max-width: 550px) {
    /* img {
        width: 100px;
        opacity: 0.8; 
        box-shadow: 0 0 10px 5px rgba(38, 66, 64, 0.5); 
      } */
 } 
  
 .section-answer{
  border:1px solid red;
 }












 
 /* Chat container */
 #chat-container {
    position: absolute;
    bottom: 50px;
    left: 50%; /* Change the left position to 50% */
    transform: translate(-50%, 0); 
    width: 500px;
    height: 330px;
    border: 1px solid #ccc;
    /* overflow-y: scroll; */
    display: flex;
    /* margin: auto; */
    flex-direction: column;
    align-items: flex-end;
  }
  
  #chat-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
  }
  
  #chat-messages div {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
  }
  
  #chat-input {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  
  #chat-button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #eee;
    cursor: pointer;
  }

  .time {
    color: rgb(20, 14, 14);
    font-size: 12px;
    margin-right: 5px;
  }





  /* .old-question-section */
  .old-question-section {
    position: fixed;
    bottom: 10vh;
    right: 2vh;
  }

  ul.old-question-data-class {
    border: 5px solid  violet;
    display: flex;
    flex-direction: column-reverse; /* reverse the order of the child elements */
    justify-content: normal;
    align-items: normal;
    background: none;
    max-height: 300px; /* set a maximum height for the ul element */
    max-width: 200px; /* set a maximum width for the ul element */
    overflow-y: scroll; /* add a vertical scrollbar when the content exceeds the max-height */
    margin: 0.5rem; 
    padding: 0.5rem;
  }

  ul.old-question-data-class li {
    margin-top: 1em;
    margin-bottom: 1em; 
    color: #111111;
    letter-spacing: 0.1em; /* add 0.1 em letter spacing */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* add a text shadow */
    font-weight: bold;
  }
 
  
 
 
  
  
  
  
  

  
  
  
  