*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url(http://localhost/aldas/Viktorina.live/images/background/cover0.jpg) center center fixed;
  background-size: cover;
}

.imported-footer {
  position: fixed;
  bottom: 0;
  width: 100%;

}



                /* Klausimo irasymo imputs + button */
/* Default styles for all devices */
.main {
  display: flex;
  width: 60vw;
  height: 50vh;
  margin: 8% auto;
  padding: 10rem;
  justify-content: center;
  align-content: center;
  border: 5px solid red;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  border: 5px solid greenyellow;
}

.resizable {
  width: 200px;
  height: 50px;
  resize: both;
  -webkit-resize: both; /* For Safari */
  -moz-resize: both; /* For Firefox */
  -o-resize: both; /* For Opera */
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  margin: 1px 0;
}

input[type="text"],
textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgb(28, 26, 26);
  font-size: 1.2rem;
}

input[type="submit"] {
  font-weight: bold;
  background-color: rgb(144,94,241);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

input[type="submit"]:active {
  transform: scale(1);
}

.info-icon {
  position: relative;
  border: 1px solid black;
  display: inline-block;
}

.info-icon img {
  position: absolute;
  top: -50px;
  left: 90%;
  width: 22px;
  height: 22px;
  opacity: 0.7;
}





/* Media queries for different devices */
@media only screen and (min-width: 769px) {
  /* Styles for larger screens */
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  input[type="text"],
  textarea {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  /* Styles for tablets */
  .main {
    width: 80vw;
  }
  
  input[type="submit"] {
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 480px) {
  /* Styles for phones */
  .main {
    width: 90vw;
  }
  
  input[type="submit"] {
    padding: 8px 12px;
  }
}










                      /* b_questionwaiting.php */
.table {
  margin: 10px auto 130px;
  width: 50%;
  border-collapse: collapse;
}

.table, td, th {
  border: 1px solid black;
  padding: 5px;
}

th {
  text-align: left;
}
.vote_count.positive {
  color: green;

}
.vote_count.negative {
  color: red;
}

.upvote, .downvote {
  background-color: #1d0b0b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: .75rem;
  line-height: 1.2rem;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  margin: 1px;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.344);
  transition: all 0.2s ease-in-out;
  animation: pulse 2s ease-in-out infinite;
}

.upvote:hover, .downvote:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  animation: none;
}

/* Nezinau ar reikia mygtuko mitksejimas */
/* @keyframes pulse {
  0% {
    background-color: #1d0b0b;
  }
  50% {
    background-color: #105f0f6d;
  }
  100% {
    background-color: #1d0b0b;
  }
} */

.upvote::before {
  content: "+";
  font-size: 1.7rem; /* change the font size to your desired size */
  display: inline-block;
}
  
.downvote::after {
  content: "-";
  font-size: 1.7rem; /* change the font size to your desired size */
  display: inline-block;
  margin-bottom: 5px;
}



  
  
