* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url(http://localhost/aldas/Viktorina.live/images/background/cover0.jpg) center center fixed;
  background-size: cover;
}

.imported-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Klausimo irasymo imputs + button */
/* Default styles for all devices */
.main {
  width: 30%;
  margin: 2% auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-form {
  /* border: 1px solid rgb(56, 83, 17); */
  display: flex;
}

.main-form-forma {
  justify-content: center;
  /* border: 1px solid rgb(25, 19, 86); */
  display: flex;
  flex-direction: column;
}

.question-resizable {
  width: 700px;
  height: 265px;
  overflow-y: auto;
  resize: both;
  -webkit-resize: both;
  -moz-resize: both;
  -o-resize: both;
}

.answer-not-resizable {
  display: inline-block; 
  min-width: 700px;
  height: 50px;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  margin: 1px 0;
}

input[type="text"],
textarea {
  margin-bottom: 20px;
  width: 400px;
  padding: 10px;
/* border: 5px solid rgb(28, 26, 26);   */
  font-size: 1.2rem;
}

input[type="submit"] {
  font-weight: bold;
  background-color: rgb(144, 94, 241);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

input[type="submit"]:active {
  transform: scale(1);
}

#info-icon {
  position: absolute;
  display: inline-block;
}

#info-icon img {
  position: relative;
  width: 27px;
  height: 27px;
  right: 40px;
  top: 12px;
}

#info-text {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 5px;
  width: 400px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.litai-text-color {
  color: rgb(105, 97, 193);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Main info Autorius */
.main-info {
  position: absolute;
  left: 13%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #dd1afa;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #222;
  text-align: center;
  opacity: 0.9;
}

.main-info p {
  margin: 20px 0;
  line-height: 1.5;
  color: #555;
}

.main-info p:first-child {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.main-info p:last-child {
  margin-bottom: 0;
}

.main-info a {
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  color: #ffc107;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.main-info a:hover {
  background-color: #ffa000;
  color: #fff;
}

/* Media queries for different devices */

/*  */







/* b_questionwaiting.php */
.table {
  margin: 10px auto 130px;
  width: 50%;
  border-collapse: collapse;
}

.table,
td,
th {
  border: 1px solid black;
  padding: 5px;
}

th {
  text-align: left;
}
.vote_count.positive {
  color: green;
}
.vote_count.negative {
  color: red;
}

.upvote,
.downvote {
  background-color: #1d0b0b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
  line-height: 1.2rem;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  margin: 1px;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.344);
  transition: all 0.2s ease-in-out;
  animation: pulse 2s ease-in-out infinite;
}

.upvote:hover,
.downvote:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  animation: none;
}

/* Nezinau ar reikia mygtuko mitksejimas */
/* @keyframes pulse {
  0% {
    background-color: #1d0b0b;
  }
  50% {
    background-color: #105f0f6d;
  }
  100% {
    background-color: #1d0b0b;
  }
} */

.upvote::before {
  content: "+";
  font-size: 1.7rem; /* change the font size to your desired size */
  display: inline-block;
}

.downvote::after {
  content: "-";
  font-size: 1.7rem; /* change the font size to your desired size */
  display: inline-block;
  margin-bottom: 5px;
}



                  /*b_newquestion.php  */
                  
.message {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px;
	font-size: 1.2rem;
	text-align: center;
}
