@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
    /* border: 2px solid rgb(233, 0, 0); */
    height: 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid rgb(0, 96, 0); */
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

body {
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("C:\xampp\htdocs\VK\Viktorina\img_cover\cover5.jpg"); 
    background-image: url('http://localhost/aldas/Viktorina.live/images/background/cover5.jpg');  
	height: 90vh;
	padding-top: 5%;
    background-size: cover; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	/* border: 1px solid rgb(64, 192, 32); */
	margin: 0;
	padding: 10%;
}

.container-generator{
	display: flex;
	justify-content: space-evenly;
	/* border: 3px solid yellowgreen; */
	width: 770px;
}

.generate-butons{
	/* border: 3px solid rgb(26, 27, 23); */
	height: 100px;
	
}

.generate-btn{
	width: 22em;
	padding: 1.1em;
	margin: 1em 3em;
	opacity: 0.7;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

button:hover{
	transform: scale(1.05);
	transition: transform 90ms ease-in;
	background-color: #ff411fe9;
}

button:focus {
	outline: none;
}

button:active {
	transform: scale(0.9);
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#submitButtonReg {
	margin-top: 7%;
}

/* Inpuut of gender */
#gender-select {
    width: 250px; /* Adjust the width as needed */
    height: 38px; /* Adjust the height as needed */
    font-size: 15px; /* Adjust the font size as needed */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add border radius for rounded corners */
    padding: 5px; /* Add some padding */
    background-color: #eee; /* Set the background color */
	margin-bottom: 6px;
}

#gender-select option {
	background-color: #d6d6d6;
	color: #333333; 
	font-family: "Arial", sans-serif; 
	font-size: 16px; 
	text-align: center;
  }
  
  



/* Logotipas */
.logo{
	width: 5em;
	margin-bottom: 25%;
	cursor: crosshair;
	transition: transform 0.7s;
}

.logo:hover{
	transform: scale(1.5);
}

.main-h1{
	margin-bottom: 10%;
}








a.forgot-password {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}





.randomized{
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	align-self: center;
	color: #582c5e;
}










form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
} 

input {
	background-color: #eee;
	border: 1px solid #ccc; 
    border-radius: 4px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 250px;
}
/* Tablet Styles 768 */
@media (max-width: 600px) {
	input,#gender-select {
		width: 200px;
	}
}
/* Phone Styles */
@media (max-width: 480px) {
	input {
		/* padding: 8px 10px;
		margin: 6px 0; */
		width: 100px;
	}
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 1s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}



  











/* #random-name,#password {
} */

/* .social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
} */

/* footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
} */


