@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url('https://fonts.cdnfonts.com/css/strange');
/* ! */
/* ? */
/* todo */
/* @ */
/*  */
:root {
  height: 100vh;
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 0, 875em;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

/* Body styles */
body {
  background-image: url("images/background/cover5.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding-top: 5%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 10%;
}

/* Container styles for the generator */
.container-generator {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(205, 50, 50);
  width: 770px;
}
.generate-butons {
  height: 11vh;
}
.generate-btn {
  width: 22em;
  padding: 1.1em;
  margin: 1em 3em;
  opacity: 0.7;
}
.randomized {
  display: none;
  border: 1px solid purple;
}
.randomized-highlighted {
  text-align: center;
  font-family: 'Strange', sans-serif;
  letter-spacing: .1em;
  align-self: center;
  color: rgb(197, 146, 61);
  background: #fcfcfcce;
  height: 1.5em;
  padding: 3px ;
  margin-top: -0.4em;
}
/* @ media 1024 */
@media (max-width: 1024px) {
  .container-generator {
    max-width: 70vw;
    /* border: 1px solid rgb(53, 50, 205); */
  }
  .randomized {
    /* text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    align-self: center;
    color: #582c5e;  */
    /* width: 50vw;   */
    /* border: 3px solid rgb(58, 79, 17); */
  }
  .generate-butons {
    /* width: 50vw;   */
    margin: 0.5em 0;
    /* border: 1px solid rgb(11, 11, 15);  */
  }
  .generate-btn {
    width: 28vw;
  }
}
/* @media (max-width: 750px) {
  .container-generator {
    max-width: 60vw; 
    border: 3px solid rgb(205, 50, 50);
  }
  .generate-buttons {
    padding: 0 1em; 
  }
  .generate-btn {
    width: 100%; 
    padding: 10px 0; 
    font-size: 0.9em; 
  }
} */
@media (max-width: 600px) {
  .container-generator {
    flex-direction: column;
    max-width: 77vw;
    align-items: center;
    border: 3px solid rgb(205, 50, 197);
    margin-top: 10vh;
  }
  .generate-butons {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .generate-btn {
    width: 20em;
  }
  .randomized {
    text-align: center;
    align-self: center;
    color: #582c5e;
    /* border: 1px solid rgb(58, 79, 17); */
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .container-generator {
    flex-direction: column;
    /* max-width: 77vw; */
    margin-top: 30vh;
    border: none;
    /* border: 3px solid rgb(55, 205, 50); */
  }
  .generate-butons {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .generate-btn {
    width: 15em;
    /* padding: 10px;  */
    font-size: 0.7em;
    max-width: 60vw;
  }
  .randomized {
    text-align: center;
    align-self: center;
    color: #582c5e;
    border: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(58, 79, 17); */
  }
}

/* Reiketu tuos du butonus generatorius insprudinti i kontenery, kai mazas konteineris */

/* Common styles for buttons */
button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 0, 750em;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  width: 25vw;
  max-width: 270px;
  min-width: 195px;
}
@media (max-width: 600px) {
  button {
    font-size: 0.7em;
    padding: 8px 10px;
    max-width: 160px;
    min-width: 70px;
  }
}
@media (max-width: 450px) {
  button {
    font-size: 0.6em;
    padding: 8px 10px;
    word-break: normal;
    max-width: 160px;
    min-width: 70px;
  }
}
@media (max-width: 380px) {
  button {
    font-size: 0.5em;
    padding: 10px 7px;
    word-break: normal;
  }
}

button:hover {
  transform: scale(1.05);
  transition: transform 90ms ease-in;
  background-color: #ff411fe9;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.9);
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* Styles for ghost buttons */
button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

/* Styles for the logo image */
.logo {
  width: 10em;
  cursor: crosshair;
  transition: transform 0.7s;
}

.logo:hover {
  transform: scale(1.6);
}

/* Styles for the main heading */
.main-h1 {
  margin-bottom: 10%;
}
@media (max-width: 600px) {
  .main-h1 {
    margin-bottom: 10%;
    font-size: 1.7em;
  }
}
@media (max-width: 480px) {
  .main-h1 {
    margin-bottom: 10%;
    font-size: 1.4em;
  }
}
@media (max-width: 400px) {
  .main-h1 {
    margin-bottom: 10%;
    font-size: 1.1em;
    font-family: initial;
  }
}
@media (max-width: 320px) {
  .main-h1 {
    font-size: 0.9em;
    font-family: initial;
    margin-top: -50px;
  }
}

/* Styles for the forgot password link */
a.forgot-password {
  color: #721313;
  font-size: 1em;
  text-decoration: none;
  margin: 15px 0;
}

/* Styles for the gender input select */
#gender-select {
  width: 25vw;
  max-width: 250px;
  height: 40px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #eee;
  margin-bottom: 6px;
}

#gender-select option {
  background-color: #d6d6d6;
  color: #333333;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  text-align: center;
}

/* Main form  */
form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 25vw;
  max-width: 250px;
}

/* @media (max-width: 320px) {
  input {
    width: 50%; 
    height: 30px; 
    padding: 5px; 
    font-size: 12px; 
  }
} */

/* Container styles */
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  border: 1px solid red;
}

/* Form container styles */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  border: 1px solid rgb(51, 255, 0);
}

/* Sign-in container styles */
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  border: 1px solid rgb(0, 47, 255);
}

/* Right panel active styles for sign-in container */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

/* Sign-up container styles */
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

/* Right panel active styles for sign-up container */
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* Overlay container styles */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

/* Right panel active styles for overlay container */
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Overlay styles */
.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

/* Right panel active styles for overlay */
.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* Overlay panel styles */
.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

/* Overlay panel styles for left panel */
.overlay-left {
  transform: translateX(-20%);
}

/* Right panel active styles for left panel */
.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

/* Overlay panel styles for right panel */
.overlay-right {
  right: 0;
  transform: translateX(0);
}

/* Right panel active styles for right panel */
.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-content {
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 78%;
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
}

.modal-content > form {
  background-color: #eee;
  height: 150px;
}

.centered-input {
  text-align: center;
  max-width: max-content;
}
@media (max-width: 300px) {
  .centered-input {
    width: 70vw;
  }
}

.button-container {
  margin-top: 10px;
}

#close-modal {
  position: absolute;
  bottom: 14px;
  right: 10px;
  padding: 10px;
  margin: 10px;
  width: 5px;
  height: 5px;
  font-size: 20px;
  text-align: center;
  color: #ff416c;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#close-modal:hover {
  color: rgb(230, 33, 33);
}
