body {
    background-image: url(images/background/5987100.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.box {
    box-sizing: border-box;
    min-width: 250px; /* Set your desired minimum width */
    min-height: 150px; /* Set your desired minimum height */
    flex: 0 0 calc(50% - 20px);
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    margin: 20px; /* Adjusted margin for a more spaced-out look */
    border: 2px solid #a6db34;
    border-radius: 15px; /* Increased border radius for a more rounded look */
    box-shadow: 0 8px 16px #c0c091; /* Adjusted box shadow for a softer look */
    background-color: #a6db34;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #c0c091;
}

@media screen and (min-width: 600px) {
    .box {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (min-width: 768px) {
    .box {
        flex: 0 0 calc(33.33% - 20px);
    }
}

@media screen and (min-width: 992px) {
    .box {
        flex: 0 0 calc(25% - 20px);
    }
}

@media screen and (min-width: 1200px) {
    .box {
        flex: 0 0 calc(20% - 20px);
    }
}

