*, ::before, ::after{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #5c5157, #5c4f5a, #594e5e, #554d62, #4d4d67, #48526d, #415672, #395b75, #3a6579, #406e7b, #49777c, #567f7d);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
}
}

/* HEADER welcome MSG */
.header-container {
    text-align: center;
    display: flex;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.index-welcome-div {
    margin: .4em;
}

.index-welcome-msg {
    color: #d4be94;
    margin: .4em;
    letter-spacing: 16px;
    font-size: 60px; /* Adjust the font size as needed */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
 /* Modal styles of HEADER */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.modal-video {
    max-width: 100%;
    height: auto;
}

h2 span {
    font-family: 'Exo', sans-serif;
    color: #685f5f; 
}

p span {
    font-family: 'Exo', sans-serif;
    color: #00ff00; 
}




/* MAIN GRID */
.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: minmax(1fr, auto); /* Adjust the minimum and maximum height as needed */
    gap: 20px; /* Adjust the gap between boxes */
    padding: 10px; /* Adjust the overall padding */
    margin: 10px 50px; /* Adjust the margin from the edges of the screen */
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns on screens 768px and larger */
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .main-container {
        grid-template-columns: repeat(4, 1fr);
        padding: 50px;
        margin: 50px;
    }
    .box-container {
        max-height: 150px; 
        padding: 30px;
    }
}


.box-container {
    position: relative;
    overflow: hidden;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: rgba(6, 6, 6, 0.8);
    background-color: rgba(0, 46, 60, 0.7);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Combine transitions into one line */
}

.box:hover {
    background-color: rgba(0, 46, 60, 0.9);
    transform: scale(1.1);
}


.box-text {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
}

.box-text-span {
    color: #e7ca93;
    font-weight: 900;
}
