/* General Reset and Box Sizing */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Body Styles */
body {
    background-image: linear-gradient(to right top, #5c5157, #5c4f5a, #594e5e, #554d62, #4d4d67, #48526d, #415672, #395b75, #3a6579, #406e7b, #49777c, #567f7d);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
}

/* Header Styles */
.header-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.index-welcome-div {
    margin: .4em;
}

.index-welcome-msg {
    color: #d4be94;
    margin: .4em;
    letter-spacing: 1em;
    font-size: 2em; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

/* Container Padding */
.container {
    padding-left: 5em;
    padding-right: 5em;
}

/* Main Grid */
.main-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: minmax(auto, 1fr);
    gap: 20px;
    padding: 10px;
    margin: 10px 50px;
}

/* Box Container Styles */
.box-container {
    position: relative;
    width: 60%; 
    overflow: hidden;
}

/* Background Video Styles */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Box Styles */
.box {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgba(6, 6, 6, 0.8);
    background-color: rgba(0, 46, 60, 0.7);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.box:hover {
    background-color: rgba(0, 46, 60, 0.9);
    transform: scale(1.1);
}

/* Box Text Styles */
.box-text {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
}

.box-text-span {
    color: #e7ca93;
    font-weight: 900;
    display: block;
    font-size: 2em;
}












 /* Modal styles of HEADER */
/* .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.modal-video {
    max-width: 100%;
    height: auto;
}

h2 span {
    font-family: 'Exo', sans-serif;
    color: #685f5f; 
}

p span {
    font-family: 'Exo', sans-serif;
    color: #00ff00; 
} */


/* 
@media (min-width: 768px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .main-container {
        grid-template-columns: repeat(4, 1fr);
        padding: 50px;
        margin: 50px;
    }
    .box-container {
        max-height: 150px; 
        padding: 30px;
    }
} */
