<!DOCTYPE html>
<html>
<head>
  <title>Password Reset Success</title>
  <style>
    /* Add your CSS styling here */
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    .message {
      font-size: 24px;
      margin-top: 40px;
    }
    .emoji {
      font-size: 36px;
    }
  </style>
</head>
<body>
  <div class="message">
    Voohoo! Slaptažodis atstatytas sėkmingai. <span class="emoji">✨😄🚀</span><br>
    Dabar galite saugiai įeiti į savo paskyrą su naujuoju slaptažodžiu.
  </div>
  <script>
    setTimeout(function() {
      window.location.href = 'http://localhost/aldas/Viktorina.live/d_regilogi.php'; // Redirect after 5 seconds
    }, 5000);
  </script>
</body>
</html>
