@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: #42161e;
  text-shadow: 2px 2px 2px #547f9a;
  box-shadow: inset 2px 2px 4px #000, 2px 2px 4px #999;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  padding: 5px;
  border: 1px solid #999;
  background-color: rgba(240, 240, 240, 0.1); 
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: normal;
}

/* Header */
.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

/* Footer */
.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Body */
body::before {
  content: "";
  background-image: url(/viktorina.live/images/DALLE/viktorina.live_world.events1.png);
  background-size: cover;
  filter: blur(7px);
  filter: grayscale(70%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  background-color: #59879c;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* User header with BTN */
.user-header {
  display: flex;
  justify-content: center;
  position: sticky;
  /* top: 64px; */
  background-color: #ffffff1d; /* Add a background color to make it stand out if needed */
  z-index: 1; /* Add a z-index to control stacking with other elements */
}

.user-header-btn {
  margin: 20px 16px; /* Add spacing between buttons */
}

.fa-regular.fa-user,
.fa-solid.fa-person-half-dress,
.fa-regular.fa-envelope,
.fa-solid.fa-up-right-from-square {
  font-size: 16px;
  margin-left: 10px;
}

/* Pagrindinis konteineris */
.conatainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72vh; /* Ensure the container covers the full viewport height */
  padding: 0.8em 0 1.5em 0;
  margin: 0;
  /* background-color: rgb(45, 18, 199); */
}

.content-user {
  border: 1px solid rgba(240, 230, 140, 0.5);
  margin: 0 2em;
  padding: 1em;
  border-radius: 6px;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: rgba(255, 255, 255, 0.299); /* Set the background color for your content */
}

.content-p {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 10px 3px;
}

.content-row p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  overflow: auto;
  font-size: 21px;
  font-weight: 600;
  background-color: #2e2e2e; /* Background color for the futuristic look */
  color: #00ffd1; /* Text color */
  border: 1px solid #00ffd1; /* Futuristic border with a color of your choice */
  border-radius: 10px; /* Rounded corners for a modern touch */
  box-shadow: 0 0 10px rgba(0, 255, 209, 0.5); /* Add a subtle glow effect */
  transition: all 0.3s ease;
  position: relative;
  scrollbar-width: thin; /* Create a thin scrollbar (not supported in all browsers) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.content-row p::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.content-row p::-webkit-scrollbar-thumb {
  background: #00ffd1; /* Color of the thumb (draggable part) */
  border-radius: 5px 5px 0 0; /* Rounded corners for the thumb */
}

.content-row p::-webkit-scrollbar-track {
  background: #2e2e2e; /* Color of the track (background) */
}

.content-row p:hover {
  transform: scale(1.01); /* Scale the element on hover for an interactive feel */
  box-shadow: 0 0 20px rgba(0, 255, 209, 0.7); /* Enhance the glow effect on hover */
}

.first-span {
  background-color: #1815151f;
  padding-left: 10px;
}

.middle-span {
  color: #e8d897; /* Text color */
  font-weight: 800; /* Adjust font weight for a bolder look */
  text-transform: uppercase; /* Uppercase the text for a futuristic feel */
  letter-spacing: 2px; /* Wider letter spacing for a spaced-out look */
  text-shadow: 1px 1px 3px rgba(232, 217, 151, 0.6); /* Add a subtle text shadow */
}

.last-span {
  background-color: #1f315a;
}

/* Cia turetu buti keitimo informacija */
.content-response {
  border-radius: 0 0 1rem 1rem;
  width: 300px;
  height: 300px;
  background-color: #a6cbd6;
}

/* Button styles */
.btn {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg, #f1e9c4 0%, #fffce2 38%, #debf4d 40%, #efebcf 100%);
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 5px rgba(255, 255, 255, 1), 0px 1px 0px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 1);
  color: #574317;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  width: 10em;
  margin-top: 1px; /* Added margin to the top of the button */
  padding: 1px 12px; /* Adjusted padding for better button size */
  transition: background-color 0.6s, transform 0.6s, color 0.6s, border 0.6s;
}

.btn img {
  width: 15px;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: row;
}

.btn:hover {
  background-color: #fff;
  color: #1e392b;
  border: solid 1px #a1bbc3;
  transform: translateY(-1px);
}

.btn:active {
  transform: scale(0.95); /* Reduce the size of the button when clicked */
}


/* Keitimo Info */
.content-response-paragraph{
  display:grid;
  justify-content: center;
  text-align: center;
}

.pargraph_1{
  background: #386cbaa3;
}

.pargraph_2{
  background: rgb(56, 186, 106);
}
