@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: #42161e;
  text-shadow: 2px 2px 2px #547f9a;
  box-shadow: inset 2px 2px 4px #000, 2px 2px 4px #999;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  padding: 5px;
  border: 1px solid #999;
  background-color: rgba(240, 240, 240, 0.1); /* 50% transparent gray */
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: normal;
}


/* Header */
.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

/* Footer */
.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Body */
body::before {
  content: "";
  background-image: url(http://localhost/Viktorina.live/images/background/5073414.jpg);
  background-size: cover;
  filter: blur(7px); /* Adjust the blur radius as needed */
  filter: grayscale(70%); /* 100% grayscale means fully black and white */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it below the content */
}

body {
  background-color: #59879c;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* User header with BTN */
.user-header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 64px;
  background-color: #ffffff1d; /* Add a background color to make it stand out if needed */
  z-index: 1; /* Add a z-index to control stacking with other elements */
}

.user-header-btn {
  margin: 20px 16px; /* Add spacing between buttons */
}


/* Pagrindinis konteineris */
.conatainer {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center content */
  min-height: 90vh; /* Ensure the container covers the full viewport height */
  padding: .8em 0 1.5em 0;
  margin: 0;
  /* background-color: rgb(45, 18, 199); */
}

.content-user {
  border: 3px solid khaki;
  text-align: center;
  margin: 0 2em;
  padding: .4em;
  border-radius: 3px;
  width: 30rem;
  height: 60vh;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: white; /* Set the background color for your content */
}



.content-p {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align text and button vertically */
  margin: 5px 0; /* Add spacing between content rows */
}

.content-row {
  display: flex;
  justify-content: start;
  /* align-items: center;  */
  /* margin: 10px 0;  */
}

.content-row p{
  border: 1px solid red;
  font-size: 18px;
  font-weight: 600;
  margin-right:0;
}



.change-button{
  border: 1px solid #42161e;
}



/* Button styles */
.btn {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg, #f1e9c4 0%, #fffce2 38%, #debf4d 40%, #efebcf 100%);
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 5px rgba(255, 255, 255, 1), 0px 1px 0px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 1);
  color: #574317;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-style: normal;
  width: 10em;
  margin-top: 1px; /* Added margin to the top of the button */
  padding: 1px 12px; /* Adjusted padding for better button size */
  transition: background-color 0.6s, transform 0.6s, color 0.6s, border 0.6s;
}

.btn img {
  width: 15px;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: row;
}

.btn:hover {
  background-color: #fff;
  color: #1e392b;
  border: solid 1px #a1bbc3;
  transform: translateY(-3px); /* Improved hover effect */
}

