@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*! pagrazinti alert labiau i centra didesni + @media */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: #42161e;
  text-shadow: 2px 2px 2px #547f9a;
  box-shadow: inset 2px 2px 4px #000, 2px 2px 4px #999;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  padding: 5px;
  border: 1px solid #999;
  background-color: rgba(240, 240, 240, 0.1);
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: normal;
}

/*// Button styles */
.btn {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg, #f1e9c4 0%, #fffce2 38%, #debf4d 40%, #efebcf 100%);
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 5px rgba(255, 255, 255, 1), 0px 1px 0px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 1);
  color: #574317;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  width: 10em;
  margin-top: 1px;
  padding: 1px 12px;
  transition: background-color 0.6s, transform 0.6s, color 0.6s, border 0.6s;
}

.btn img {
  width: 15px;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: row;
}

.btn:hover {
  background-color: #fff;
  color: #1e392b;
  border: solid 1px #a1bbc3;
  transform: translateY(-1px);
}

.btn:active {
  transform: scale(0.95);
}

/*// Header */
.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

/*// Footer */
.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*// Body */
body::before {
  content: "";
  background-image: url(/viktorina.live/images/DALLE/viktorina.live_world.events1.png);
  background-size: cover;
  filter: blur(7px);
  filter: grayscale(70%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  background-color: #59879c;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/*// User header with BTN */
.user-header-ctn {
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: #ffffff1d;
  z-index: 1;
}

.user-header-btn {
  margin: 20px 16px;
}

.fa-regular.fa-user,
.fa-solid.fa-person-half-dress,
.fa-regular.fa-envelope,
.fa-solid.fa-up-right-from-square {
  font-size: 16px;
  margin-left: 10px;
}

/*// Pagrindinis konteineris */
.conatainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
  padding: 0.8em 0 1.5em 0;
  margin: 0;
  /* background-color: rgb(45, 18, 199); */
}

.content-user {
  border: 1px solid rgba(240, 230, 140, 0.5);
  margin: 0 2em;
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: rgba(255, 255, 255, 0.299);
}

.content-p {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 10px 3px;
}

.content-row p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  overflow: auto;
  font-size: 21px;
  font-weight: 600;
  background-color: #2e2e2e;
  color: #00ffd1;
  border: 1px solid #00ffd1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 209, 0.5);
  transition: all 0.3s ease;
  position: relative;
  scrollbar-width: thin;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content-row p::-webkit-scrollbar {
  width: 5px;
}

.content-row p::-webkit-scrollbar-thumb {
  background: #00ffd1;
  border-radius: 5px 5px 0 0;
}

.content-row p::-webkit-scrollbar-track {
  background: #2e2e2e;
}

.content-row p:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(0, 255, 209, 0.7);
}

.first-span {
  background-color: #1815151f;
  padding-left: 10px;
}

.middle-span {
  color: #e8d897;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(232, 217, 151, 0.6);
}

.last-span {
  background-color: #1f315a;
}

/* // Cia turetu buti keitimo informacija */
.content-response-ctn {
  border: 1px solid rgba(240, 230, 140, 0.5);
  border-radius: 0.5em;
  width: 400px;
  height: auto; 
  background-color: rgba(255, 255, 255, 0);
  padding: 1em;
}


.content-response-div {
  background: #333a46a3;
  display: flex;
  border-radius: .5em;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5vh;
  padding: 3rem;
}

/* ! Galimai reikes pakeisti width i fiksuotus atmesti padding del teksto perkelimo i new line */
/* ! style alert make biger center text */
.pargraph_1 {
  background: #386cbaa3;
  padding: 10px 5px;
  width: 300px;
  margin-bottom: 1em;
}

.pargraph_2 {
  background: rgb(56, 186, 106);
  padding: 10px 5px;
  width: 300px;
  margin-bottom: 1em;
}

#inputFieldChange {
  background: rgb(173, 186, 56);
  padding: 10px 3vw;
  margin-bottom: 1em;
}

.change-btn {
  background: rgb(186, 56, 132);
  height: 50px;
  padding: 10px 7vw;
  margin-bottom: 1em;
  cursor: crosshair;
}

#error-msg {
  color: #eecbd1;
  width: 300px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-top: 2em;
  padding: 1em;
  border-radius: .5em;
  background: #333a46d7;
}

.level-button {
  min-width: 16em;
  margin: .5em;
  padding: .5em 0;
  border-radius: .5em;
  background: #2e2e2e;
  color: #c8bbc7;
  font-size: 1.2em;
  transition: all 0.3s; 
}

.level-button:hover {
  background-color: #3e3e3e; 
  color: #8b828a; 
  transform: scale(1.01); 
  cursor: pointer;
}

.level-button:active {
  background-color: #262525; 
  color: #a796a5; 
  transform: scale(0.95); 
}

.level-button[disabled] {
  background-color: #6c757d; 
  cursor: not-allowed;
}

.emoji {
  margin-left: -70px;
  position: absolute;
  display: inline;
  /* filter: grayscale(100%); */
  box-shadow: -4px -4px 5px #e8d897; 
}


.level-button:hover .emoji {
  display: none;
}

.label {
  display: none;
}

.level-button:hover .label {
  display: inline-block;
}

.expert-lvl {
  font-size: 1.9em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.level-number {
  color: #ffcc00; 
}


