@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: #42161e;
  text-shadow: 2px 2px 2px #547f9a;
  box-shadow: inset 2px 2px 4px #000, 2px 2px 4px #999;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  padding: 5px;
  border: 1px solid #999;
  background-color: rgba(240, 240, 240, 0.1);
  text-transform: uppercase;
}
@media (max-width: 400px) {
  h1 {
    font-size: 1em;
    font-weight: 700;
    overflow-wrap: break-word;
  }
}

p {
  font-size: 1em;
  font-weight: normal;
}

/*// Button styles */
.btn {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg, #f1e9c4 0%, #fffce2 38%, #debf4d 40%, #efebcf 100%);
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 5px rgba(255, 255, 255, 1), 0px 1px 0px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 1);
  color: #574317;
  font-size: 1em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  width: 10em;
  margin-top: 0.5em;
  padding: 0.4em 0.9em;
  transition: background-color 0.6s, transform 0.6s, color 0.6s, border 0.6s;
}
@media (max-width: 1060px) {
  .btn {
    width: 100%;
    min-width: 11em;
    padding: 0.7em;
  }
}
@media (max-width: 300px) {
  .btn {
    font-size: 0.7em;
  }
}

.btn img {
  width: 15px;
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: row;
}

.btn:hover {
  background-color: #fff;
  color: #1e392b;
  border: solid 1px #a1bbc3;
  transform: translateY(-1px);
}

.btn:active {
  transform: scale(0.95);
}

/*// Header */
.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

/*// Footer */
.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*// Body */
body::before {
  content: "";
  background-image: url(/viktorina.live/images/DALLE/viktorina.live_world.events1.png);
  background-size: cover;
  filter: blur(7px);
  filter: grayscale(70%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  background-color: #59879c;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/*// User header with BTN */
.user-header-ctn {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: center;
  text-align: center;
  margin: 0 24em;
}
@media (max-width: 1600px) {
  .user-header-ctn {
    flex-wrap: nowrap;
  }
}
@media (max-width: 1060px) {
  .user-header-ctn {
    flex-wrap: wrap;
    margin: 0 3.125em;
    padding: 0;
  }
}

.user-header-btn {
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 1060px) {
  .user-header-btn {
    flex: 50%;
    padding: 0.3em;
    margin-top: 0.5em;
  }
}

.fa-regular.fa-user,
.fa-solid.fa-person-half-dress,
.fa-regular.fa-envelope,
.fa-solid.fa-up-right-from-square {
  font-size: 16px;
}

/*// Pagrindinis konteineris */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
  padding: 0.8em 0 1.5em 0;
  margin: 0;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
  }
}

.content-user {
  border: 1px solid rgba(240, 230, 140, 0.5);
  margin: 0 2em;
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: rgba(255, 255, 255, 0.299);
  width: 40em;
}
@media (max-width: 1024px) {
  .content-user {
    width: 100%;
    max-width: 40em;
  }
}

.content-p {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 10px 3px;
}

.content-row p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  overflow: auto;
  font-size: 1.3em;
  font-weight: 600;
  background-color: #2e2e2e;
  color: #00ffd1;
  border: 1px solid #00ffd1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 209, 0.5);
  transition: all 0.3s ease;
  position: relative;
  scrollbar-width: thin;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (max-width: 400px) {
  .content-row p {
    font-size: 0.9em;
  }
}

.content-row p::-webkit-scrollbar {
  width: 5px;
}

.content-row p::-webkit-scrollbar-thumb {
  background: #00ffd1;
  border-radius: 5px 5px 0 0;
}

.content-row p::-webkit-scrollbar-track {
  background: #2e2e2e;
}

.content-row p:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(0, 255, 209, 0.7);
}

/* ? First span */
.first-span {
  background-color: #1815151f;
  padding-left: 10px;
}
@media (max-width: 360px) {
  .first-span {
    display: none;
  }
}

/* ? Middle span */
.middle-span {
  color: #e8d897;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(232, 217, 151, 0.6);
  overflow-x: auto;
  word-break: break-all;
}
@media (max-width: 360px) {
  .middle-span {
    margin: 0 auto;
    font-size: 0.9em;
  }
  .middle-span::-webkit-scrollbar-thumb {
    width: 3px;
  }
}

/* ? Last span */
.last-span {
  background-color: #1f315a;
}
@media (max-width: 360px) {
  .last-span {
    display: none;
  }
}

/* // Keitimo informacija */
.content-response-ctn {
  border: 1px solid rgba(240, 230, 140, 0.5);
  border-radius: 0.5em;
  width: 80%;
  max-width: 400px;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  padding: 1em;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .content-response-ctn {
    width: 100%;
    max-width: 40em;
    margin-bottom: 3em;
  }
}

.content-response-div {
  background: #333a46a3;
  display: flex;
  border-radius: 0.5em;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5vh;
  padding: 2em;
  overflow: hidden;
}

.pargraph_1 {
  background: #2e2e2e;
  border-radius: 0.3em;
  padding: 20px;
  width: 300px;
  margin-bottom: 0.5em;
  color: #e8d897;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid #00ffd1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 209, 0.5);
}
@media (max-width: 400px) {
  .pargraph_1 {
    font-size: 1.2em;
    width: auto;
    padding: 0.8em;
  }
}

.pargraph_2 {
  background: rgba(240, 230, 140, 0.848);
  border-radius: 0.8em 0 0.6em 0;
  padding: 20px;
  width: 300px;
  margin-bottom: 0.3em;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
  font-weight: 700;
}
@media (max-width: 400px) {
  .pargraph_2 {
    padding: 1em;
    font-size: 1em;
    width: auto;
  }
}

.paragraph_2_sp {
  color: #002e3c;
  font-weight: 900;
  font-size: 1.3em;
  line-height: 1.1;
}

#inputFieldChange {
  background: #d9d287;
  width: 300px;
  padding: 12px;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 0.5em;
  font-size: 1.2em;
  text-align: center;
  outline: none;
  border: 2px solid #b7ad7e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
  #inputFieldChange {
    width: 100%;
    font-size: 0.8em;
    box-sizing: border-box;
  }
}

#inputFieldChange:hover,
#inputFieldChange:focus {
  border-color: #7d753f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#inputFieldChange::placeholder {
  color: #000;
}

.change-btn {
  background: #00ffd1;
  width: 60%;
  height: 3.125em;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 255, 209, 0.6);
}
@media (max-width: 1024px) {
  .change-btn {
    max-width: 15.5em;
  }
}
@media (max-width: 300px) {
  .change-btn {
    font-size: 0.7em;
    overflow: hidden;
    min-width: 5em;
  }
}

.change-btn:hover {
  transform: scale(1.02);
  transition: all 0.3s;
  box-shadow: 0 0 15px rgba(0, 255, 209, 0.8);
}

.change-btn:active {
  transform: scale(0.99);
  transition: all 0.3s;
  box-shadow: none;
}

#error-msg {
  color: #eecbd1;
  width: 300px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background: #333a46d7;
  display: none;
}

.level-button {
  min-width: 16em;
  margin: 0.5em;
  padding: 0.5em 0;
  border-radius: 0.5em;
  background: #2e2e2e;
  color: #c8bbc7;
  font-size: 1.2em;
  transition: all 0.3s;
}

.level-button:hover {
  background-color: #3e3e3e;
  color: #8b828a;
  transform: scale(1.01);
  cursor: pointer;
}

.level-button:active {
  background-color: #262525;
  color: #a796a5;
  transform: scale(0.95);
}

.level-button[disabled] {
  background-color: #6c757d;
  cursor: not-allowed;
}

.emoji {
  margin-left: -70px;
  position: absolute;
  display: inline;
  box-shadow: -4px -4px 5px #e8d897;
}

.level-button:hover .emoji {
  display: none;
}

.label {
  display: none;
}

.level-button:hover .label {
  display: inline-block;
}

.expert-lvl {
  font-size: 1.9em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.level-number {
  color: #ffcc00;
}

/* // Special ALERT */
#customAlert {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d287;
  border: 1px solid #00ffd1;
  border-radius: .5em;
  padding: 1.5em;
  max-width: 25em; 
  height: 25%;
  /* max-height: 15em;  */
  text-align: center;
  z-index: 2;
}

#alertMessage {
  color: #721c24;
  font-size: 1.3em;
}

#closeAlert {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 0.8em 1.5em;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 0.3em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#closeAlert:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  box-shadow: 0 0 0.5em #d9534f;
}

#closeAlert:active {
  transform: scale(0.99);
  transition: all 0.3s;
  box-shadow: none;
}

