:root {
  --primary-color: #7647a3;
}

body {
  background: #b6442d;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.className {
  border: 1px solid black;
}

#id {
  border: 1px dotted green;
}

div {
  color: var(--primary-color);
}