:root {
  --primary-color: #304783;
}

body {
  background: #c5d5bd;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.className {
  border: 1px solid black;
}

#id {
  border: 1px dotted green;
}

div {
  color: var(--primary-color);
}