<!DOCTYPE html>
<html>
  <head>
    <title>Kraunasi...</title>
    <style>
      body{
        background-image: url(http://localhost/Viktorina.live/images/background/bullseye-gradient1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;     
      }
      #loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .custom-loader {
        width: 200px;
        height: 200px;
        display: grid;
        border-radius: 50%;
        background: conic-gradient(#7d8beb 25%, #e4e4ed 0 50%, #6f6d91 0 75%, #766df4 0);
        animation: s2 2s infinite linear;
      }
      .custom-loader::before,
      .custom-loader::after {
        content: "";
        grid-area: 1/1;
        margin: 15%;
        border-radius: 50%;
        background: inherit;
        animation: inherit;
      }
      .custom-loader::after {
        margin: 25%;
        animation-duration: 3s;
      }

      @keyframes s2 {
        100% {
          transform: rotate(1turn);
        }
      }
    </style>
  </head>
  <body>
    <div id="loading-container">
      <div class="custom-loader"></div>
    </div>
    <script>
        setTimeout(() => {
          const redirectUrl = "<%= redirectUrl %>";
          window.location.href = redirectUrl;
        }, 2000); // Delay for 2 seconds (adjust as needed)
      </script>      
  </body>
</html>
