*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(36, 33, 33);
  color: rgb(158, 173, 185);
  padding: 1em;
  opacity: 0.7;
}

#viktorina-link{
  cursor: pointer;
}

/* Apply styles to the dialog */
dialog {
  border: 1px solid black;
  padding: 20px;
  max-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(228, 210, 210);
  text-align: center; 
}

.donation-text{
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.5;
}

.donation-buttons{
  display: flex;
  flex-direction: flex-start;
}
.donation-button {
  width: 150px;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  background-color: #7aa56c;
  color: white;
  cursor: url('images/ImgLitai/1Lt.png'), pointer;
  border-radius: 5px;
  transition: transform 0.2s, background-color 0.2s;
}

.donation-button:hover {
  background-color: #6c8e5a;
  transform: scale(1.05);
}

.donation-button:active {
  background-color: #547346;
  transform: scale(0.95);
}

dialog h1,
dialog p,
dialog h3,
dialog button {
  text-align: center;
  margin-top: 20px;
}

#close-dialog {
  margin-top: 15px;
  padding: 6px 12px;
  background-color: #FF354E;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

#close-dialog:hover {
  transform: scale(0.95);
}

#close-dialog:active {
  transform: scale(0.85);
}
