*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(36, 33, 33);
  color: rgb(158, 173, 185);
  padding: 1em;
  opacity: 0.7;
}

footer > p > a {
  color: hsl(22, 28%, 60%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: font-size 0.3s; /* Adding a transition effect for smooth animation */
}

footer > p > a:hover {
  font-size: 18px; /* Increase the font size when hovering */
}

