*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(36, 33, 33);
  color: aliceblue;
  padding: 1em;
  opacity: 0.7;
}
