:root {
  --primary-color: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #636363;
  background: -webkit-linear-gradient(to bottom, #a2ab58, #636363);
  background: linear-gradient(to bottom, #a2ab58, #636363);
}

@media screen and (max-width: 1250px) {
  body {
    height: auto;
  }

}

main {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  border: 1px solid red;
  max-width: 90em;
}

@media screen and (max-width:1250px) {
  main {
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid rgb(0, 89, 255);
    min-width: 50em;
  }

}

@media screen and (max-width:860px) {
  main {
    flex-direction: column;
    margin: 2em auto;
    border: 1px solid rgb(255, 0, 174);
    min-width: 20em;
    margin: 0 .7em;
  }
}

@media screen and (max-width:480px) {
  main {
    margin: 0;
    padding: 0;
  }
}

/*// Form styling A*/
.container-a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 6em auto;
  max-height: 700px;
}

@media screen and (max-width: 1250px) {
  .container-a {
    margin: 4em 1em;
  }
}

@media screen and (max-width: 860px) {
  .container-a {
    margin: 3em 5em;
  }
}

@media screen and (max-width: 580px) {
  .container-a {
    margin: 2em 3em;
  }
}

@media screen and (max-width: 480px) {
  .container-a {
    margin: 2em auto;
    width: 90%;
  }
}
@media screen and (max-width: 380px) {
  .container-a {
    margin: 1em;
    width: 93%;
    font-size: .8em;
  }
}
@media screen and (max-width: 330px) {
  .container-a {
    margin-left:.1em;
    padding: .4em;
    border: none;
    width: 95%;
  }
}

.form-wrapper {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #060a05;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}


.input-group-inline {
  display: flex;
  justify-content: center;
  margin: .8em auto;
  /* background: #162c12; */
  /* width: 100%; */
}

.input-group-inline label {
  color: rgb(40, 40, 44);
  font-size: 2.3em;
  margin: 0 .1em;
}

.input-group-inline input[type="text"] {
  text-align: center;
  font-size: 1.4em;
  border: 2px solid rgb(11, 10, 10);
  background: #6a7668;
  color: var(--primary-color);
}

label[for="name"] i.fas.fa-user {
  font-size: 1.15em;
}

label[for="user_id"] i.far.fa-id-card {
  font-size: 1.2em;
}

label[for="user_level"] .fas.fa-level-up-alt {
  font-size: 1em;
}

#user_name {
  width: 60%;
}

#user_id,
#user_level {
  width: 20%;
  min-width: 57px;
}





.input-group-block {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.input-group-block-main {
  border: 1px solid green
}

input[type="number"] {
  max-width: 7.3em;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #162c12;
  color: white;
  padding: .9em 8em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button[type="submit"]:hover {
  background-color: #060a05;
}

/*// Form styling B*/
.container-b {
  display: flex;
  border: 2px solid #060a05;
  border-radius: 10px;
  margin: 7em auto;
  max-width: 700px;
}

@media screen and (max-width: 1250px) {
  .container-b {
    margin: 4em 1em;
  }
}

@media screen and (max-width: 860px) {
  .container-b {
    margin: 0 5em;
  }
}

@media screen and (max-width: 580px) {
  .container-b {
    margin: 0 3em 5em;
    min-width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .container-b {
    margin: 1em;
    width: 93%;
    font-size: .8em;
  }
}

@media screen and (max-width: 330px) {
  .container-b {
    margin-left:.1em;
    padding: .4em;
    border: none;
    width: 95%; 
  }
}



/*// Modal */
#info-icon {
  display: inline;
  vertical-align: middle;
  height: 1em;
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  padding: 1em;
  z-index: 200;
  background: #0b140a;
  border: 1px solid #0f0822;
  border-radius: 10px;
  max-width: 90%;
  color: #99ab5b;
  line-height: 1.5;
}

.modal-title {
  color: var(--primary-color);
  margin-bottom: .5em;
  font-size: 1.3em;
}

.modal-text {
  text-align: left;
}