:root {
  --primary-color: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #636363;
  background: -webkit-linear-gradient(to bottom, #a2ab58, #636363);
  background: linear-gradient(to bottom, #a2ab58, #636363);
}

main{
  display: flex;
  border: 1px solid red;
}

/*// Form styling A*/
.container-a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 7em auto;

}

.form-wrapper {
  background: var(--primary-color);
  border: 2px solid #060a05;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 600px;
}


.input-group-inline {
  display: flex;
  justify-content: center;
  margin: .8em auto;

  width: 100%;

}

.input-group-inline label {
  color: rgb(40, 40, 44);
  font-size: 2.3em;
  margin: 0 .1em;
}

.input-group-inline input[type="text"] {
  text-align: center;
  font-size: 1.2em;
  border: 2px solid rgb(11, 10, 10);
}

#user_name {
  width: 60%;
  /* Adjust the width as needed */
}

#user_id,
#user_level {
  width: 20%;
  /* Adjust the width as needed */
}



.input-group-block {
  display: flex;
  flex-direction: column;
  text-align: left;

}
.input-group-block-main{
  border: 1px solid green
}

input[type="number"] {
  max-width: 7.3em;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #162c12;
  color: white;
  padding: .9em 8em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button[type="submit"]:hover {
  background-color: #060a05;
}

/*// Modal */
#info-icon {
  display: inline;
  vertical-align: middle;
  height: 1em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  top: 9.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #0f0822;
  border-radius: 7px;
  max-width: 90%;
}

/*// Form styling B*/
.container-b {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 7em auto;
}

.imported-questions{
  width: 600px;
  height: 600px;
  border: 1px solid green;
}