/* statistic.css */

body {
  text-align: center;
  background-color: lightblue;
  background: url(http://localhost/aldas/Viktorina.live/images/background/cover8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  margin-top: 2px;
}

.highlight {
  color: blue;
  font-weight: bold;
}

#user-info {
  position: relative;
  border: 1px solid gold;
  padding-top: 20px;
}

.time-left {
  position: absolute;
  top: 0;
  right: 50px;
  margin: 10px;
  color: aqua;
}

#countdown {
  display: block;
  margin-top: 20px;
  font-size: 30px;
}


#user-info p {
  /* margin-bottom: 5px; */
  border: 1px solid rgb(45, 163, 222);
}

#user-info .name {
  font-style: italic;
}

.statistic-info {
  margin-top: 5px;
  text-align: center;
}

.table-container {
  display: inline-block;
}

.left-table {
  margin-right: 50px;
}


.table-container h2 {
  margin-bottom: 10px;
}

.table-container table {
  margin: 0 auto;
}



.statistic-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.statistic-table th,
.statistic-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.statistic-table th {
  background-color: #f2f2f2;
}

.statistic-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.statistic-table tr:hover {
  background-color: #e5e5e5;
}

