/* statistic.css */
h1 {
  margin-top: 1px;
}


body {
  text-align: center;
  background-color: lightblue;
  background: url('http://localhost/Viktorina.live/images/background/cover8.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 2% 10em;
  font-weight: bold;
  border: 3px solid rgb(0, 255, 132);  
  display: grid;
  text-align: center;
  /* justify-content: center; */
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.main-container{
  border: 3px solid rgb(15, 13, 124); 

}




#user-info {
  position: relative;
  border: 1px solid rgb(255, 21, 0);
  font-weight: bold;
  /* max-width: 300px;
  margin: auto; */
  padding: 20px;
}
#user-info p {
  border: 1px solid gold;
}
#user-info .name {
  font-style: italic;
}
.highlight {
  color: blue;
  font-weight: bolder;
}

/* DROPDOWN BTN SU VARTOTOJAIS */
.dropdown-btn {
  background-color: #333;
  font-style: italic;
  font-weight: 600;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-title {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  margin: 0;
}

.dropdown-list {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 5px 10px;
}

.dropdown-list li {
  padding: 8px 16px;
  color: #333;
  background-color: #f9f9f9;
  border-bottom: 1px solid #333;
}

.dropdown-list li:nth-child(odd) {
  background-color: #ddd;
}

.dropdown-list li:hover {
  background-color: #ccc;
}


.main-info-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  text-align: center;
}

.main-info-container .table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(0, 47, 255);
  padding: 20px;
}

.statistic-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; /* Add a border to the table */
}

.statistic-table th,
.statistic-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.statistic-table th {
  background-color: #bcf4ae57;
}

.statistic-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.statistic-table tr:hover {
  background-color: #e5e5e5;
}

.center-numbers {
  text-align: center;
}



.time-left {
  position: absolute;
  top: 0;
  right: 50px;
  border: 1px solid rgb(119, 89, 87);
  color: rgb(168, 188, 188);
}

#countdown {
  display: block;
  margin-top: -12px;
  font-size: 30px;
}