* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #42275a;
  background: -webkit-linear-gradient(to left, #734b6d, #633c84);
  background: linear-gradient(to left, #734b6d, #633e84);
  ;
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  background: #42275a;
  background: -webkit-linear-gradient(to right, #734b6d, #42275a);
  background: linear-gradient(to right, #734b6d, #42275a);
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 3em auto;
  max-width: 600px;
  padding: 40px;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

.user-container {
  text-align: center;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

label i {
  margin-right: 10px;
  font-size: 18px;
  color: #18273e;
}

#user_name {
  margin-top: 0.625em;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
}

#idea_title,
#idea_description {
  margin-top: -1.2em;
}

input[type="text"],
textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), inset 0 0 20px rgba(0, 0, 0, 0.1);
}


input[type="submit"] {
  background-color: #18273e;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #1a3350;
}

input[type="submit"]:active {
  transform: translateY(2px);
}

input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(24, 39, 62, 0.5);
}