* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-container li {
  margin-right: 20px;
}

.logo {
  width: 3.2em;
  margin: 2px 0 0 10px;
  cursor: crosshair;
  transition: transform 0.7s;
}

.logo:hover {
  transform: scale(2.5) translate(20px, 20px);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: rgb(36, 33, 33);
  opacity: 0.8;
  padding: 0.3rem;
}

li a,
.dropbtn {
  display: inline-block;
  color: rgb(214, 237, 243);
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(1, 17, 10);
  border-radius: 0.4em;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 143px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e0d7d7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* BTN ATSIJUNGTI */
.header #btn-atsijungti {
  margin-left: 10px;
  width: 70px;
  height: 40px;
}

.header #btn-atsijungti {
  visibility: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.header:hover #btn-atsijungti {
  visibility: visible;
  opacity: 0.1;
}

