* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(36, 33, 33);
  opacity: 0.8;
  padding: 0.3rem;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

/* LOGO */
.logo-container {
  margin-left: 1px; 
  cursor: crosshair;
  transition: transform 0.7s;
}

.logo {
  width: 3em;
  margin: 2px 0 0 10px;
  cursor: crosshair;
  transition: transform 0.7s;
}
.logo:hover {
  transform: scale(2.5) translate(20px, 20px);
}


/* MENU */
.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; 
}

ul {
  display: flex;
  list-style-type: none;
  margin-right: 10px;
}

li a,
.dropbtn {
  display: inline-block;
  color: rgb(214, 237, 243);
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(1, 17, 10);
  border-radius: 0.4em;
}

li.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 143px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e0d7d7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* BTN ATSIJUNGTI */
#btn-atsijungti {
  margin-left: 10px;
  width: 100px;
  height: 40px;
  visibility: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.header:hover #btn-atsijungti {
  visibility: visible;
  opacity: 0.1;
}

/* LOGIN BTN */
#login-container {
  position: fixed;
  top: 13px;
  right: 7px;
  z-index: 10;
}

#login-button {
  padding: 10px 30px;
  background-color: #d1b284;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

#login-button:hover {
  background-color: #957545;
  transform: scale(1.05);
  cursor: pointer;
}

#login-button:focus {
  outline: none;
}

#login-button:active {
  transform: scale(0.9); 
}

