:root {
  --primary-color: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #714315;
}

.className {
  border: 1px solid rgba(235, 12, 12, 0.805);
}

#id {
  border: 1px dotted rgba(34, 242, 34, 0.874);
}

div {
  color: var(--primary-color);
}



