:root {
  --primary-color: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(184deg, rgba(2, 0, 36, 1) 0%, rgba(113, 67, 21, 1) 54%, rgba(51, 26, 14, 1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
















.form-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 9.5em auto;
  max-width: 500px;
}

.form-wrapper h2 {
  text-align: center;
  color: #714315;
  margin-bottom: 1em;
  font-size: 1.3em;
}

.input-group {
  margin-bottom: 20px;
}

.input-group-inline {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.input-group {
  flex: 1;
  margin-right: 10px;
}


.input-group label {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #555;
}

.input-group input,
.input-group textarea {
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1.5em;
  font-family: 'TT Drugs Trial', sans-serif;
  font-family: 'TT Drugs Trl Cnd', sans-serif;
  letter-spacing: 2px;
  line-height: 1.2;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #714315;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

button:hover {
  background-color: #5c3810;
}

button:active {
  transform: translateY(2px);
  background-color: #45270d;
}


/* // Modal */
#info-icon {
  display: inline;
  vertical-align: middle;
  height: 1em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  top: 8.7em;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #0f0822;
  border-radius: 7px;
  max-width: 90%;
}

.modal-content {
  background-color: var(--primary-color);
  border: 1px solid #888;
  padding: 17px;
  max-width: 700px;
  text-align: center;
}

.modal-title {
  font-size:20px;
  font-weight: bold;
  margin-bottom: 20px;

}

.modal-text {
  font-size: 14px;
  line-height:.8;
  margin-bottom: 8px;
  text-align: left;
}

.modal-text:before {
  content: "📌 ";
}